@charset "utf-8";

@mixin fontsize($size: 24) {
    font-size: $size+px;
    font-size: ($size/10)*1rem;
}



html {
    font-size: 62.5%;
    h2 {
        margin-top: 30px;
        text-align: center;
        font-weight: bold;
        @include fontsize(30);
    }
}

* {
    font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
    box-sizing: border-box;

}


header {
    
    .navbar{
        padding: 35px 0;
        width: 100%;

        .navbar-brand{
            margin-left: 120px;
            width: 300px;
            @media(max-width: 768px){
                width: 200px;
            }
            @media(max-width: 549px){
                margin-left: 50px;
            }
            @media(max-width: 320px){
                width: 150px;
            }
        }

        .navbar-toggler{
            margin-right: 30px;
        }

        a{
            color: #616161;
        }
    
        .navbar-nav{
            margin-right: 90px;
            @media(max-width: 549px){
                margin-left: 40px;
                padding-top: 20px;
            }
            .nav-link{
                margin-right: 40px;
                @include fontsize(25);
                @media(max-width: 768px){
                    @include fontsize(15);
                    margin-right: 10px;
                }
            }

            .dropdown-menu{
                padding: 20px 30px 30px 30px;
                a{
                    font-size: 20px;
                    margin-top: 10px;
                }
            }
        }
    }
}

main {
    .owl-theme {
        margin: 0 auto;
        visibility: visible;
        border: 1px solid #000;
        @media(max-width: 549px) {
            width: 100%;
        }
        img {
            height: 250px;
            object-fit: cover;
            @media(max-width: 549px) {
                height: 250px;
            }
        }
    }

    .main-contents_index{
        .ads{
            color: #fff;
            background-color: #f3c033;
            padding: 0 25px 40px 25px;
            h2{
                padding: 20px 0;
            }
            p{
                line-height: 40px;
                font-size: 20px;
                font-weight: bold;
            }
            .button{
                margin-top: 30px;
                a{
                    cursor: pointer;
                    color: #FF8000;
                    background-color:#c8ff00;
                    text-decoration: none;
                    font-size: 30px;
                    font-weight: bold;
                    padding: 20px;
                    border-radius: 20px;
                    text-shadow:1px 2px 3px #513c3c;
                }
            }
        }
        .how_to_use{
            background-color: #C3F6FF;
            h2{
                padding: 20px 0;
                background-color: #30C7F0;
                color: #fff;
            }
            ul{
                padding-bottom: 20px;
                li{
                    list-style: none;
                    color:hsl(212, 90%, 43%);
                    font-size: 20px;
                    margin-top: 20px;
                    line-height: 50px;
                }
            }
        }
    }

    .main-contents_question_index{
        .questions_list{
            margin-top: 50px;
            margin-left: 100px;
            @media(max-width: 768px){
                margin-left: 50px;
            }

            @media(max-width: 549px){
                margin-left: 0;
                text-align: center;
            }
            .question_item{
                font-size: 20px;
                a{
                    text-decoration: none;
                }
            }
        }
    }

    .main-contents_question_page{
        margin-top: 50px;
        .card-title{
            font-size: 20px;
        }
        .btn{
            font-size: 30px;
            border-bottom: 1px solid #000;
            margin-top: 10px;
            padding: 20px 0;
        }

        .main_result{
            ul{
                margin: 40px 0;
                li{
                    font-weight: bold;
                    @include fontsize(15);
                    list-style: none;
                    margin-top: 20px;
                }
            }
            span{
                @include fontsize(20);
                font-weight: bold;
            }
            #correct{
                color: blue;
            }
            #incorrect{
                color: red;
            }
            
        }
    }
    
    .main-contents_each_question{
        .list-materials{
            display: none;
        }
    }
    
    .main-contents_question{
        margin-top: 20px;
        .question_first{
            .beginner_question{
                position: relative;
                    a{
                        .picture {
                            background-image: url(../images/main/question_page/beginner_image.jpg);
                            background-size: cover;
                            width: 100%;
                            height: 200px;
                            margin-bottom: 25px;
                            cursor: pointer;
                            &:hover {
                                -webkit-filter: brightness(0.5);
                            }
                            @media(max-width: 549px) {
                                height: 250px;
                                margin-bottom: 25px;
                            }
                        }
                    }
                    .font {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateY(-50%) translateX(-50%);
                        color: #fff;
                        -webkit-transition: all 0.2s ease;
                        transition: all 0.2s ease;
                        z-index: 100;
                        @include fontsize(30);
                        letter-spacing: 10px;
                        @media(max-width: 549px) {
                            @include fontsize(25);
                            letter-spacing: 5px;
                        }
                    }
            }
            
            .upper_question{
                position: relative;
                    a{
                        .picture {
                            background-image: url(../images/main/question_page/upper_image.jpg);
                            background-size: cover;
                            width: 100%;
                            height: 200px;
                            margin-bottom: 25px;
                            cursor: pointer;
                            &:hover {
                                -webkit-filter: brightness(0.5);
                            }
                            @media(max-width: 549px) {
                                height: 250px;
                                margin-bottom: 25px;
                            }
                        }
                    }
                    .font {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateY(-50%) translateX(-50%);
                        color: #fff;
                        -webkit-transition: all 0.2s ease;
                        transition: all 0.2s ease;
                        z-index: 100;
                        @include fontsize(30);
                        letter-spacing: 10px;
                        @media(max-width: 549px) {
                            @include fontsize(25);
                            letter-spacing: 5px;
                        }
                    }
            }
        }
        
        .question_second{
            .intermediate_question{
                position: relative;
                    a{
                        .picture {
                            background-image: url(../images/main/question_page/intermediate_image.jpg);
                            background-size: cover;
                            width: 100%;
                            height: 200px;
                            margin-bottom: 25px;
                            cursor: pointer;
                            &:hover {
                                -webkit-filter: brightness(0.5);
                            }
                            @media(max-width: 549px) {
                                height: 250px;
                                margin-bottom: 25px;
                            }
                        }
                    }
                    .font {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateY(-50%) translateX(-50%);
                        color: #fff;
                        -webkit-transition: all 0.2s ease;
                        transition: all 0.2s ease;
                        z-index: 100;
                        @include fontsize(30);
                        letter-spacing: 10px;
                        @media(max-width: 549px) {
                            @include fontsize(25);
                            letter-spacing: 5px;
                        }
                    }
            }
            
            .idiom_question{
                position: relative;
                    a{
                        .picture {
                            background-image: url(../images/main/question_page/idiom_image.jpg);
                            background-size: cover;
                            width: 100%;
                            height: 200px;
                            margin-bottom: 25px;
                            cursor: pointer;
                            &:hover {
                                -webkit-filter: brightness(0.5);
                            }
                            @media(max-width: 549px) {
                                height: 250px;
                                margin-bottom: 25px;
                            }
                        }
                    }
                    .font {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateY(-50%) translateX(-50%);
                        color: #fff;
                        -webkit-transition: all 0.2s ease;
                        transition: all 0.2s ease;
                        z-index: 100;
                        @include fontsize(30);
                        letter-spacing: 10px;
                        @media(max-width: 549px) {
                            @include fontsize(25);
                            letter-spacing: 5px;
                        }
                    }
            }
        }
    }

    .main-contents_materials {
        #topik_materials {
            background-color: #00CCFF;
            &:hover {
                background-color: lighten(#00CCFF, 10%);
            }
        }

        #klat_materials {
            background-color: #00FFCC;
            &:hover {
                background-color: lighten(#00FFCC, 10%);
            }
        }
        .list-materials {
            .list-title {
                width: 100%;
                text-align: center;
                margin-top: 25px;
                padding: 10px 0;
                text-decoration: none;
                cursor: pointer;
                @include fontsize(30);
                color: #fff;
                @media(max-width: 549px) {
                    @include fontsize(25);
                }
            }
            .ichiran {
                background-color: white;
                padding: 20px 0 33px 0;
                display: none;

                #from_second {
                    margin-top: 30px;
                    @media(max-width: 549px) {
                        margin-top: 20px;
                    }
                }
                .each_material {
                    font-weight: bold;
                    @media(max-width: 549px) {
                        text-align: center;
                        margin-top: 20px;
                    }
                    .image_material {
                        img {
                            width: 110px;
                            height: 150px;
                            @media(max-width: 768px) {
                                width: 90px;
                                height: 120px;
                            }
                            @media(max-width: 549px) {
                                width: 100px;
                                height: 140px;
                            }
                        }
                    }
                    .explanation_material {
                        @media(max-width: 549px) {
                            margin-top: 20px;
                        }
                        h3{
                            margin-bottom: 10px;
                        }
                        span{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    .main-contents_examination {
        @include fontsize(15);
        line-height: 35px;
        .tabs {
            overflow: hidden;
            input {
                display: none;
            }
            label {
                padding: 20px;
                margin: 30px 0 20px 0;
                width: 150px;
                text-align: center;
                cursor: pointer;
                transition: 0.3s;
                font-size: 30px;
            }
            input:checked + label,
            label:hover {
                background: #56B4BE;
                color: #fff;
            }
        }
        .contents {
            border: 1px solid #7AC5CD;
            padding: 10px;
            font-weight: bold;
            @media(max-width: 1024px){
                font-size: 12px;
            }

            @media(max-width: 768px){
                font-size: xx-small;
            }
            .tab_contents {
                .tab_contents_item{
                    table {
                        text-align: center;
                        td {
                            padding: 10px 0;
                            line-height: 30px;
                        }
                        .level{
                            float: left;
                        }
                        
                        .example{
                            margin-top: 15px;
                            li{
                                list-style: none;
                                font-size: 13px;
                            }
                        }
                    }

                    .second_table{
                        margin-top: 50px;
                    }
                }
                h3{
                    border-bottom: 1px solid #888888;
                    @include fontsize(20);
                    font-weight: bold;
                    margin-top: 30px;
                    padding-bottom: 10px;
                }
            }
        }
    }

    .main-contents_about {
        .contents_title_about {
            margin-top: 30px;
            text-align: center;
            font-size: 35px;
            font-weight: bold;
        }

        .contents_subtitle_about {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
        }

        p {
            @include fontsize(15);
            margin-top: 20px;
        }
    }

    .sub {
        margin-top: 20px;
        @media(max-width: 549px) {
            width: 100%;
            margin: 0 auto;
            margin-top: 30px;
        }
        .brochure {
            border-radius: 5px;
            width: 100%;
            background-color: #45e86f;
            text-align: center;
            padding: 15px 10px;
            cursor: pointer;
            &:hover {
                background-color: lighten(#45e86f, 10%);
            }
            a {
                text-decoration: none;
                font-weight: bold;
                @include fontsize(20);
                color: #fff;
                letter-spacing: 4px;
                @media(max-width: 549px) {
                    @include fontsize(25);
                }
            }
        }
        #topik {
            margin-top: 10px;
            cursor: pointer;
        }

        .list-materials {
            .list-title {
                width: 100%;
                background-color: #caca30;
                text-align: center;
                margin-top: 25px;
                padding: 10px 0;
                text-decoration: none;
                cursor: pointer;
                @include fontsize(30);
                color: #fff;
                @media(max-width: 549px) {
                    @include fontsize(35);
                }
                &:hover {
                    background-color: lighten(#caca30, 10%);
                }

            }
            ul {
                background-color: lighten(#caca30, 30%);
                padding: 20px 0 33px 0;
                display: none;
                li {
                    list-style: none;
                    text-align: center;
                    margin-top: 15px;
                    a {
                        text-decoration: none;
                        @include fontsize(15);
                        font-weight: bold;
                        color: #00904a;
                        &:hover {
                            color: lighten(#00904a, 20%);
                        }
                    }
                }
            }
        }
    }
}

footer{
    margin-top: 50px;
    height: 200px;
    width: 100%;

    .page-top{
        @media(max-width: 549px){
            text-align: center;
        }
        p{
            font-size: 30px;
            float: right;
            margin-right: 80px;
            @media(max-width: 549px){
                float: none;
                margin-right: 0;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
    
    ul{
        clear: both;
        float: right;
        margin-top: 50px;
        @media(max-width: 768px){
            padding: 20px 0 50px 50px;
            margin-right: 30px;
        }
        
        @media(max-width: 549px){
            float: left;
        }
        li{
            display: inline-block;
            list-style: none;
            @media(max-width: 549px){
                display: block;
                width: 200px;
                margin-top: 10px;
            }
            a{
                @include fontsize(25);
                color: #616161;
                @media(max-width: 549px){
                    @include fontsize(25);
                }
            }
        }
    
    }
}