@charset "UTF-8";
html {
  font-size: 62.5%;
}

html h2 {
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-size: 3rem;
}

* {
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  padding: 20px 0;
}

@media (max-width: 549px) {
  header {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
  }
}

header .header-title {
  text-align: center;
}

header .header-title img {
  width: 300px;
  height: 60px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  header .header-title img {
    margin-top: 10px;
    width: 150px;
    height: 30px;
  }
}

@media (max-width: 549px) {
  header .header-title {
    width: 60%;
    margin-top: 7px;
  }
}

@media (max-width: 549px) {
  header .header-menu {
    width: 40%;
  }
}

header .header-menu .pc-menu {
  margin-top: 22px;
}

@media (max-width: 992px) {
  header .header-menu .pc-menu {
    display: none;
  }
}

header .header-menu .pc-menu li {
  display: inline-block;
  list-style: none;
  margin-left: 10px;
}

header .header-menu .pc-menu li a {
  color: #979fbe;
  text-decoration: none;
  font-size: 30px;
  font-size: 3rem;
  letter-spacing: 6px;
  font-weight: bold;
}

header .header-menu .sp-menu {
  margin-top: 10px;
  position: relative;
}

@media (min-width: 993px) {
  header .header-menu .sp-menu {
    display: none;
  }
}

header .header-menu .sp-menu #sp_navi_btn {
  text-align: right;
}

header .header-menu .sp-menu #sp_navi_btn img {
  width: 45px;
}

@media (max-width: 992px) {
  header .header-menu .sp-menu #sp_navi_btn {
    margin-top: 20px;
  }
}

@media (max-width: 549px) {
  header .header-menu .sp-menu #sp_navi_btn {
    margin-right: 30px;
    margin-top: 0;
  }
}

@media (max-width: 992px) {
  header .header-menu .sp-menu ul {
    width: 140px;
    background-color: #e4f0fc;
    display: none;
    position: absolute;
    right: 0;
    top: 75px;
    z-index: 100;
    padding: 10px 0 20px 10px;
  }
}

@media (max-width: 768px) {
  header .header-menu .sp-menu ul {
    width: 140px;
    right: 0;
    top: 60px;
  }
}

@media (max-width: 549px) {
  header .header-menu .sp-menu ul {
    right: 0;
    top: 50px;
  }
}

header .header-menu .sp-menu ul li {
  list-style: none;
  margin-top: 10px;
}

header .header-menu .sp-menu ul li a {
  text-decoration: none;
  color: #a0c238;
  font-size: 15px;
  font-size: 1.5rem;
}

header .header-menu .sp-menu ul li a:hover {
  color: #dbde3a;
}

main .owl-theme {
  margin: 0 auto;
  visibility: visible;
}

@media (max-width: 549px) {
  main .owl-theme {
    width: 100%;
  }
}

main .owl-theme img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 549px) {
  main .owl-theme img {
    height: 250px;
  }
}

main .main-contents_each_question .list-materials {
  display: none;
}

main .main-contents_question {
  margin-top: 20px;
}

main .main-contents_question .question_first .beginner_question {
  position: relative;
}

main .main-contents_question .question_first .beginner_question a .picture {
  background-image: url(../images/main/question_page/beginner_image.jpg);
  background-size: cover;
  width: 100%;
  height: 200px;
  margin-bottom: 25px;
  cursor: pointer;
}

main .main-contents_question .question_first .beginner_question a .picture:hover {
  -webkit-filter: brightness(0.5);
}

@media (max-width: 549px) {
  main .main-contents_question .question_first .beginner_question a .picture {
    height: 250px;
    margin-bottom: 25px;
  }
}

main .main-contents_question .question_first .beginner_question .font {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 100;
  font-size: 30px;
  font-size: 3rem;
  letter-spacing: 10px;
}

@media (max-width: 549px) {
  main .main-contents_question .question_first .beginner_question .font {
    font-size: 25px;
    font-size: 2.5rem;
    letter-spacing: 5px;
  }
}

main .main-contents_question .question_first .upper_question {
  position: relative;
}

main .main-contents_question .question_first .upper_question a .picture {
  background-image: url(../images/main/question_page/upper_image.jpg);
  background-size: cover;
  width: 100%;
  height: 200px;
  margin-bottom: 25px;
  cursor: pointer;
}

main .main-contents_question .question_first .upper_question a .picture:hover {
  -webkit-filter: brightness(0.5);
}

@media (max-width: 549px) {
  main .main-contents_question .question_first .upper_question a .picture {
    height: 250px;
    margin-bottom: 25px;
  }
}

main .main-contents_question .question_first .upper_question .font {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 100;
  font-size: 30px;
  font-size: 3rem;
  letter-spacing: 10px;
}

@media (max-width: 549px) {
  main .main-contents_question .question_first .upper_question .font {
    font-size: 25px;
    font-size: 2.5rem;
    letter-spacing: 5px;
  }
}

main .main-contents_question .question_second .intermediate_question {
  position: relative;
}

main .main-contents_question .question_second .intermediate_question a .picture {
  background-image: url(../images/main/question_page/intermediate_image.jpg);
  background-size: cover;
  width: 100%;
  height: 200px;
  margin-bottom: 25px;
  cursor: pointer;
}

main .main-contents_question .question_second .intermediate_question a .picture:hover {
  -webkit-filter: brightness(0.5);
}

@media (max-width: 549px) {
  main .main-contents_question .question_second .intermediate_question a .picture {
    height: 250px;
    margin-bottom: 25px;
  }
}

main .main-contents_question .question_second .intermediate_question .font {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 100;
  font-size: 30px;
  font-size: 3rem;
  letter-spacing: 10px;
}

@media (max-width: 549px) {
  main .main-contents_question .question_second .intermediate_question .font {
    font-size: 25px;
    font-size: 2.5rem;
    letter-spacing: 5px;
  }
}

main .main-contents_question .question_second .idiom_question {
  position: relative;
}

main .main-contents_question .question_second .idiom_question a .picture {
  background-image: url(../images/main/question_page/idiom_image.jpg);
  background-size: cover;
  width: 100%;
  height: 200px;
  margin-bottom: 25px;
  cursor: pointer;
}

main .main-contents_question .question_second .idiom_question a .picture:hover {
  -webkit-filter: brightness(0.5);
}

@media (max-width: 549px) {
  main .main-contents_question .question_second .idiom_question a .picture {
    height: 250px;
    margin-bottom: 25px;
  }
}

main .main-contents_question .question_second .idiom_question .font {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 100;
  font-size: 30px;
  font-size: 3rem;
  letter-spacing: 10px;
}

@media (max-width: 549px) {
  main .main-contents_question .question_second .idiom_question .font {
    font-size: 25px;
    font-size: 2.5rem;
    letter-spacing: 5px;
  }
}

main .main-contents_materials #topik_materials {
  background-color: #00CCFF;
}

main .main-contents_materials #topik_materials:hover {
  background-color: #33d6ff;
}

main .main-contents_materials #klat_materials {
  background-color: #00FFCC;
}

main .main-contents_materials #klat_materials:hover {
  background-color: #33ffd6;
}

main .main-contents_materials .list-materials .list-title {
  width: 100%;
  text-align: center;
  margin-top: 25px;
  padding: 10px 0;
  text-decoration: none;
  cursor: pointer;
  font-size: 30px;
  font-size: 3rem;
  color: #fff;
}

@media (max-width: 549px) {
  main .main-contents_materials .list-materials .list-title {
    font-size: 25px;
    font-size: 2.5rem;
  }
}

main .main-contents_materials .list-materials .ichiran {
  background-color: white;
  padding: 20px 0 33px 0;
  display: none;
}

main .main-contents_materials .list-materials .ichiran #from_second {
  margin-top: 30px;
}

@media (max-width: 549px) {
  main .main-contents_materials .list-materials .ichiran #from_second {
    margin-top: 20px;
  }
}

@media (max-width: 549px) {
  main .main-contents_materials .list-materials .ichiran .each_material {
    text-align: center;
    margin-top: 20px;
  }
}

main .main-contents_materials .list-materials .ichiran .each_material .image_material img {
  width: 110px;
  height: 150px;
}

@media (max-width: 768px) {
  main .main-contents_materials .list-materials .ichiran .each_material .image_material img {
    width: 90px;
    height: 120px;
  }
}

@media (max-width: 549px) {
  main .main-contents_materials .list-materials .ichiran .each_material .image_material img {
    width: 100px;
    height: 140px;
  }
}

@media (max-width: 549px) {
  main .main-contents_materials .list-materials .ichiran .each_material .explanation_material {
    margin-top: 20px;
  }
}

main .main-contents_examination .tab_list {
  overflow: hidden;
}

main .main-contents_examination .tab_list li {
  float: left;
  padding: 10px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

main .main-contents_examination .tab_list li:not(:first-child) {
  border-left: none;
}

main .main-contents_examination .tab_list li.active {
  background-color: #000;
  border-color: #000;
  color: #fff;
  cursor: auto;
}

main .main-contents_examination .article {
  overflow: hidden;
  margin-top: -1px;
}

main .main-contents_examination .article li {
  width: 320px;
  padding: 20px;
  border: 1px solid #ccc;
}

main .main-contents_examination p {
  line-height: 23px;
  font-size: 12px;
  font-size: 1.2rem;
}

main .main-contents_examination #topik_examination,
main .main-contents_examination #klat_examination {
  margin-top: 30px;
}

main .main-contents_examination #topik_examination h3,
main .main-contents_examination #klat_examination h3 {
  font-weight: bold;
}

main .main-contents_examination #topik_examination .tab,
main .main-contents_examination #klat_examination .tab {
  margin-top: 20px;
}

main .main-contents_examination #topik_examination .tab .tab_nav_item,
main .main-contents_examination #klat_examination .tab .tab_nav_item {
  background: #fff;
  color: #000;
  border: 1px solid #7AC5CD;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px 5px 0 0;
  margin-right: 2px;
  font-size: 15px;
  font-size: 1.5rem;
}

main .main-contents_examination #topik_examination .tab_nav_item.is-active,
main .main-contents_examination #klat_examination .tab_nav_item.is-active {
  background-color: #7AC5CD;
  color: #fff;
}

main .main-contents_examination #topik_examination .tab_contents,
main .main-contents_examination #klat_examination .tab_contents {
  margin-top: 7.2px;
  border: 1px solid #7AC5CD;
  padding: 20px;
}

main .main-contents_examination #topik_examination .tab_contents_item,
main .main-contents_examination #klat_examination .tab_contents_item {
  display: none;
}

main .main-contents_examination #topik_examination table,
main .main-contents_examination #klat_examination table {
  text-align: center;
}

main .main-contents_examination #topik_examination table td,
main .main-contents_examination #klat_examination table td {
  padding: 10px 0;
  line-height: 20px;
}

main .main-contents_about .contents_title_about {
  margin-top: 30px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

main .main-contents_about .contents_subtitle_about {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

main .main-contents_about p {
  font-size: 15px;
  font-size: 1.5rem;
  margin-top: 20px;
}

main .sub {
  margin-top: 20px;
}

@media (max-width: 549px) {
  main .sub {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
  }
}

main .sub .brochure {
  border-radius: 5px;
  width: 100%;
  background-color: #45e86f;
  text-align: center;
  padding: 15px 10px;
  cursor: pointer;
}

main .sub .brochure:hover {
  background-color: #72ee92;
}

main .sub .brochure a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem;
  color: #fff;
  letter-spacing: 4px;
}

@media (max-width: 549px) {
  main .sub .brochure a {
    font-size: 25px;
    font-size: 2.5rem;
  }
}

main .sub #topik {
  margin-top: 10px;
  cursor: pointer;
}

main .sub .list-materials .list-title {
  width: 100%;
  background-color: #caca30;
  text-align: center;
  margin-top: 25px;
  padding: 10px 0;
  text-decoration: none;
  cursor: pointer;
  font-size: 30px;
  font-size: 3rem;
  color: #fff;
}

@media (max-width: 549px) {
  main .sub .list-materials .list-title {
    font-size: 35px;
    font-size: 3.5rem;
  }
}

main .sub .list-materials .list-title:hover {
  background-color: #d7d756;
}

main .sub .list-materials ul {
  background-color: #eaeaa9;
  padding: 20px 0 33px 0;
  display: none;
}

main .sub .list-materials ul li {
  list-style: none;
  text-align: center;
  margin-top: 15px;
}

main .sub .list-materials ul li a {
  text-decoration: none;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #00904a;
}

main .sub .list-materials ul li a:hover {
  color: #00f67e;
}

@media (max-width: 549px) {
  footer {
    margin: 0 auto;
  }
}

footer .page-top {
  cursor: pointer;
}

@media (max-width: 549px) {
  footer .page-top {
    margin: 200px 0 120px 0;
    text-align: center;
  }
}

@media (min-width: 550px) {
  footer .page-top {
    float: right;
    width: 100px;
    margin: 30px 60px 70px 0;
  }
}

footer .page-top img {
  width: 70px;
}

@media (max-width: 549px) {
  footer .page-top img {
    width: 130px;
  }
}

footer .footer-menu {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 549px) {
  footer .footer-menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }
}

footer .footer-menu .footer-logo {
  text-align: center;
}

@media (max-width: 549px) {
  footer .footer-menu .footer-logo {
    width: 100%;
    margin-bottom: 30px;
  }
}

footer .footer-menu .footer-logo img {
  width: 300px;
  height: 60px;
}

@media (max-width: 768px) {
  footer .footer-menu .footer-logo img {
    width: 300px;
  }
}

@media (max-width: 549px) {
  footer .footer-menu .footer-logo img {
    width: 200px;
    height: 40px;
  }
}

footer .footer-menu .footer-contents-pc {
  margin-bottom: 20px;
}

footer .footer-menu .footer-contents-pc .footer-list li {
  list-style: none;
  margin-top: 20px;
  margin-left: 20px;
}

@media (min-width: 990px) {
  footer .footer-menu .footer-contents-pc .footer-list li {
    display: inline-block;
  }
}

footer .footer-menu .footer-contents-pc .footer-list li a {
  color: #979fbe;
  text-decoration: none;
  font-size: 30px;
  font-size: 3rem;
  letter-spacing: 6px;
  font-weight: bold;
}

@media (max-width: 549px) {
  footer .footer-menu .footer-contents-pc .footer-list li a {
    font-size: 25px;
  }
}
/*# sourceMappingURL=style.css.map */