@charset "UTF-8";
html {
  font-size: 62.5%;
}

html h2 {
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-size: 3rem;
}

* {
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .navbar {
  padding: 35px 0;
  width: 100%;
}

header .navbar .navbar-brand {
  margin-left: 120px;
  width: 300px;
}

@media (max-width: 768px) {
  header .navbar .navbar-brand {
    width: 200px;
  }
}

@media (max-width: 549px) {
  header .navbar .navbar-brand {
    margin-left: 50px;
  }
}

@media (max-width: 320px) {
  header .navbar .navbar-brand {
    width: 150px;
  }
}

header .navbar .navbar-toggler {
  margin-right: 30px;
}

header .navbar a {
  color: #616161;
}

header .navbar .navbar-nav {
  margin-right: 90px;
}

@media (max-width: 549px) {
  header .navbar .navbar-nav {
    margin-left: 40px;
    padding-top: 20px;
  }
}

header .navbar .navbar-nav .nav-link {
  margin-right: 40px;
  font-size: 25px;
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  header .navbar .navbar-nav .nav-link {
    font-size: 15px;
    font-size: 1.5rem;
    margin-right: 10px;
  }
}

header .navbar .navbar-nav .dropdown-menu {
  padding: 20px 30px 30px 30px;
}

header .navbar .navbar-nav .dropdown-menu a {
  font-size: 20px;
  margin-top: 10px;
}

main .owl-theme video {
  width: 100%;
}

main .main-contents_index .ads {
  color: #fff;
  background-color: #f3c033;
  padding: 0 25px 40px 25px;
}

main .main-contents_index .ads h2 {
  padding: 20px 0;
}

main .main-contents_index .ads p {
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
}

main .main-contents_index .ads .button {
  margin-top: 30px;
}

main .main-contents_index .ads .button a {
  cursor: pointer;
  color: #FF8000;
  background-color: #c8ff00;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  border-radius: 20px;
  text-shadow: 1px 2px 3px #513c3c;
}

main .main-contents_index .how_to_use {
  background-color: #C3F6FF;
}

main .main-contents_index .how_to_use h2 {
  padding: 20px 0;
  background-color: #30C7F0;
  color: #fff;
}

main .main-contents_index .how_to_use ul {
  padding-bottom: 20px;
}

main .main-contents_index .how_to_use ul li {
  list-style: none;
  color: #0b67d0;
  font-size: 20px;
  margin-top: 20px;
  line-height: 50px;
}

main .main-contents_question_index .questions_list {
  margin-top: 50px;
  margin-left: 100px;
}

@media (max-width: 768px) {
  main .main-contents_question_index .questions_list {
    margin-left: 50px;
  }
}

@media (max-width: 549px) {
  main .main-contents_question_index .questions_list {
    margin-left: 0;
    text-align: center;
  }
}

main .main-contents_question_index .questions_list .question_item {
  font-size: 20px;
}

main .main-contents_question_index .questions_list .question_item a {
  text-decoration: none;
}

main .main-contents_question_page {
  margin-top: 50px;
}

main .main-contents_question_page .card-title {
  font-size: 20px;
}

main .main-contents_question_page .btn {
  font-size: 30px;
  border-bottom: 1px solid #000;
  margin-top: 10px;
  padding: 20px 0;
}

main .main-contents_question_page .main_result ul {
  margin: 40px 0;
}

main .main-contents_question_page .main_result ul li {
  font-weight: bold;
  font-size: 15px;
  font-size: 1.5rem;
  list-style: none;
  margin-top: 20px;
}

main .main-contents_question_page .main_result span {
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
}

main .main-contents_question_page .main_result #correct {
  color: blue;
}

main .main-contents_question_page .main_result #incorrect {
  color: red;
}

main .main-contents_each_question .list-materials {
  display: none;
}

main .main-contents_question {
  margin-top: 20px;
}

main .main-contents_question .question_first .beginner_question {
  position: relative;
}

main .main-contents_question .question_first .beginner_question a .picture {
  background-image: url(../images/main/question_page/beginner_image.jpg);
  background-size: cover;
  width: 100%;
  height: 200px;
  margin-bottom: 25px;
  cursor: pointer;
}

main .main-contents_question .question_first .beginner_question a .picture:hover {
  -webkit-filter: brightness(0.5);
}

@media (max-width: 549px) {
  main .main-contents_question .question_first .beginner_question a .picture {
    height: 250px;
    margin-bottom: 25px;
  }
}

main .main-contents_question .question_first .beginner_question .font {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 100;
  font-size: 30px;
  font-size: 3rem;
  letter-spacing: 10px;
}

@media (max-width: 549px) {
  main .main-contents_question .question_first .beginner_question .font {
    font-size: 25px;
    font-size: 2.5rem;
    letter-spacing: 5px;
  }
}

main .main-contents_question .question_first .upper_question {
  position: relative;
}

main .main-contents_question .question_first .upper_question a .picture {
  background-image: url(../images/main/question_page/upper_image.jpg);
  background-size: cover;
  width: 100%;
  height: 200px;
  margin-bottom: 25px;
  cursor: pointer;
}

main .main-contents_question .question_first .upper_question a .picture:hover {
  -webkit-filter: brightness(0.5);
}

@media (max-width: 549px) {
  main .main-contents_question .question_first .upper_question a .picture {
    height: 250px;
    margin-bottom: 25px;
  }
}

main .main-contents_question .question_first .upper_question .font {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 100;
  font-size: 30px;
  font-size: 3rem;
  letter-spacing: 10px;
}

@media (max-width: 549px) {
  main .main-contents_question .question_first .upper_question .font {
    font-size: 25px;
    font-size: 2.5rem;
    letter-spacing: 5px;
  }
}

main .main-contents_question .question_second .intermediate_question {
  position: relative;
}

main .main-contents_question .question_second .intermediate_question a .picture {
  background-image: url(../images/main/question_page/intermediate_image.jpg);
  background-size: cover;
  width: 100%;
  height: 200px;
  margin-bottom: 25px;
  cursor: pointer;
}

main .main-contents_question .question_second .intermediate_question a .picture:hover {
  -webkit-filter: brightness(0.5);
}

@media (max-width: 549px) {
  main .main-contents_question .question_second .intermediate_question a .picture {
    height: 250px;
    margin-bottom: 25px;
  }
}

main .main-contents_question .question_second .intermediate_question .font {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 100;
  font-size: 30px;
  font-size: 3rem;
  letter-spacing: 10px;
}

@media (max-width: 549px) {
  main .main-contents_question .question_second .intermediate_question .font {
    font-size: 25px;
    font-size: 2.5rem;
    letter-spacing: 5px;
  }
}

main .main-contents_question .question_second .idiom_question {
  position: relative;
}

main .main-contents_question .question_second .idiom_question a .picture {
  background-image: url(../images/main/question_page/idiom_image.jpg);
  background-size: cover;
  width: 100%;
  height: 200px;
  margin-bottom: 25px;
  cursor: pointer;
}

main .main-contents_question .question_second .idiom_question a .picture:hover {
  -webkit-filter: brightness(0.5);
}

@media (max-width: 549px) {
  main .main-contents_question .question_second .idiom_question a .picture {
    height: 250px;
    margin-bottom: 25px;
  }
}

main .main-contents_question .question_second .idiom_question .font {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 100;
  font-size: 30px;
  font-size: 3rem;
  letter-spacing: 10px;
}

@media (max-width: 549px) {
  main .main-contents_question .question_second .idiom_question .font {
    font-size: 25px;
    font-size: 2.5rem;
    letter-spacing: 5px;
  }
}

main .main-contents_materials #topik_materials {
  background-color: #00CCFF;
}

main .main-contents_materials #topik_materials:hover {
  background-color: #33d6ff;
}

main .main-contents_materials #klat_materials {
  background-color: #00FFCC;
}

main .main-contents_materials #klat_materials:hover {
  background-color: #33ffd6;
}

main .main-contents_materials .list-materials .list-title {
  width: 100%;
  text-align: center;
  margin-top: 25px;
  padding: 10px 0;
  text-decoration: none;
  cursor: pointer;
  font-size: 30px;
  font-size: 3rem;
  color: #fff;
}

@media (max-width: 549px) {
  main .main-contents_materials .list-materials .list-title {
    font-size: 25px;
    font-size: 2.5rem;
  }
}

main .main-contents_materials .list-materials .ichiran {
  background-color: white;
  padding: 20px 0 33px 0;
  display: none;
}

main .main-contents_materials .list-materials .ichiran #from_second {
  margin-top: 30px;
}

@media (max-width: 549px) {
  main .main-contents_materials .list-materials .ichiran #from_second {
    margin-top: 20px;
  }
}

main .main-contents_materials .list-materials .ichiran .each_material {
  font-weight: bold;
}

@media (max-width: 549px) {
  main .main-contents_materials .list-materials .ichiran .each_material {
    text-align: center;
    margin-top: 20px;
  }
}

main .main-contents_materials .list-materials .ichiran .each_material .image_material img {
  width: 110px;
  height: 150px;
}

@media (max-width: 768px) {
  main .main-contents_materials .list-materials .ichiran .each_material .image_material img {
    width: 90px;
    height: 120px;
  }
}

@media (max-width: 549px) {
  main .main-contents_materials .list-materials .ichiran .each_material .image_material img {
    width: 100px;
    height: 140px;
  }
}

@media (max-width: 549px) {
  main .main-contents_materials .list-materials .ichiran .each_material .explanation_material {
    margin-top: 20px;
  }
}

main .main-contents_materials .list-materials .ichiran .each_material .explanation_material h3 {
  margin-bottom: 10px;
}

main .main-contents_materials .list-materials .ichiran .each_material .explanation_material span {
  font-size: 15px;
}

main .main-contents_examination {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 35px;
}

main .main-contents_examination .tabs {
  overflow: hidden;
}

main .main-contents_examination .tabs input {
  display: none;
}

main .main-contents_examination .tabs label {
  padding: 20px;
  margin: 30px 0 20px 0;
  width: 150px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 30px;
}

main .main-contents_examination .tabs input:checked + label,
main .main-contents_examination .tabs label:hover {
  background: #56B4BE;
  color: #fff;
}

main .main-contents_examination .contents {
  border: 1px solid #7AC5CD;
  padding: 10px;
  font-weight: bold;
}

@media (max-width: 1024px) {
  main .main-contents_examination .contents {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  main .main-contents_examination .contents {
    font-size: xx-small;
  }
}

main .main-contents_examination .contents .tab_contents .tab_contents_item table {
  text-align: center;
}

main .main-contents_examination .contents .tab_contents .tab_contents_item table td {
  padding: 10px 0;
  line-height: 30px;
}

main .main-contents_examination .contents .tab_contents .tab_contents_item table .level {
  float: left;
}

main .main-contents_examination .contents .tab_contents .tab_contents_item table .example {
  margin-top: 15px;
}

main .main-contents_examination .contents .tab_contents .tab_contents_item table .example li {
  list-style: none;
  font-size: 13px;
}

main .main-contents_examination .contents .tab_contents .tab_contents_item .second_table {
  margin-top: 50px;
}

main .main-contents_examination .contents .tab_contents h3 {
  border-bottom: 1px solid #888888;
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 30px;
  padding-bottom: 10px;
}

main .main-contents_about .contents_title_about {
  margin-top: 30px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

main .main-contents_about .contents_subtitle_about {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

main .main-contents_about p {
  font-size: 15px;
  font-size: 1.5rem;
  margin-top: 20px;
}

main .sub {
  margin-top: 20px;
}

@media (max-width: 549px) {
  main .sub {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
  }
}

main .sub .brochure {
  border-radius: 5px;
  width: 100%;
  background-color: #45e86f;
  text-align: center;
  padding: 15px 10px;
  cursor: pointer;
}

main .sub .brochure:hover {
  background-color: #72ee92;
}

main .sub .brochure a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem;
  color: #fff;
  letter-spacing: 4px;
}

@media (max-width: 549px) {
  main .sub .brochure a {
    font-size: 25px;
    font-size: 2.5rem;
  }
}

main .sub #topik {
  margin-top: 10px;
  cursor: pointer;
}

main .sub .list-materials .list-title {
  width: 100%;
  background-color: #caca30;
  text-align: center;
  margin-top: 25px;
  padding: 10px 0;
  text-decoration: none;
  cursor: pointer;
  font-size: 30px;
  font-size: 3rem;
  color: #fff;
}

@media (max-width: 549px) {
  main .sub .list-materials .list-title {
    font-size: 35px;
    font-size: 3.5rem;
  }
}

main .sub .list-materials .list-title:hover {
  background-color: #d7d756;
}

main .sub .list-materials ul {
  background-color: #eaeaa9;
  padding: 20px 0 33px 0;
  display: none;
}

main .sub .list-materials ul li {
  list-style: none;
  text-align: center;
  margin-top: 15px;
}

main .sub .list-materials ul li a {
  text-decoration: none;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #00904a;
}

main .sub .list-materials ul li a:hover {
  color: #00f67e;
}

footer {
  margin-top: 50px;
  height: 200px;
  width: 100%;
}

@media (max-width: 549px) {
  footer .page-top {
    text-align: center;
  }
}

footer .page-top p {
  font-size: 30px;
  float: right;
  margin-right: 80px;
}

@media (max-width: 549px) {
  footer .page-top p {
    float: none;
    margin-right: 0;
  }
}

footer .page-top p:hover {
  cursor: pointer;
}

footer ul {
  clear: both;
  float: right;
  margin-top: 50px;
}

@media (max-width: 768px) {
  footer ul {
    padding: 20px 0 50px 50px;
    margin-right: 30px;
  }
}

@media (max-width: 549px) {
  footer ul {
    float: left;
  }
}

footer ul li {
  display: inline-block;
  list-style: none;
}

@media (max-width: 549px) {
  footer ul li {
    display: block;
    width: 200px;
    margin-top: 10px;
  }
}

footer ul li a {
  font-size: 25px;
  font-size: 2.5rem;
  color: #616161;
}

@media (max-width: 549px) {
  footer ul li a {
    font-size: 25px;
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=style.css.map */