<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Koreanguage</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../../owlcarousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/animated.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
    <header class="mb-4">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a href="../../../index.html"><img class="u-max-full-width navbar-brand" src="../../../images/Koreanguage_title.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon toggle_icon"></span>
            </button>
      
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class = "nav-item"><a href="../../about.html" class = "nav-link" style="margin-right: 20px;">About</a></li>
                    <li class = "nav-item"><a href="../../question.html" class = "nav-link" style="margin-right: 20px;">Questions</a></li>
                    <li class = "nav-item"><a href="../../examination.html" class = "nav-link" style="margin-right: 20px;">Examination</a></li>
                    <li class = "nav-item"><a href="../../materials.html" class = "nav-link" style="margin-right: 20px;">References</a></li>
                    <li class = "nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Language
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="upper_4.html">English</a>
                            <a class="dropdown-item" href="../../../korean/questions/upper_questions/upper_4.html">Korean</a>
                            <a class="dropdown-item" href="../../../japanese/questions/upper_questions/upper_4.html">japanese</a>
                          </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="main-contents_question_page">
            <div id="app" class="row">
                <div class = "col-md-12 main_question" v-if="!completed">
                    <div class="card">
                        <div class="card-body">
                            <p class="badge badge-dark">Question {{ (questionIndex+1) }} </p>
                            <br>
                            <h4 class = "card-title">{{ currentQuestion.question_content }}</h4>
                            <br>
                            <h4 class="card-title">{{ currentQuestion.question }}</h4>
                            <br>
                            <button
                                type="button"
                                class="btn btn-block"
                                v-for="(answer,index) in currentQuestion.answers"
                                @click="addAnswer(index)">{{ (index+1) }}. {{ answer }}</button>
                        </div>
                    </div>
                </div>
        
                <div class = "col-md-12 main_result" v-if="completed">
                    <div class="card">
                        <div class="card-body">
                            <p class="badge badge-dark result_tag">Result</p>
                            <div v-for="(question,index) in this.questions">
                                <h4 class="card-title error_color">{{ question.question }}</h4>
                                <span>{{ question.question_translation }}</span>
                                <div v-if="question.answer == answers[index]" id="correct"><span>Correct.</span><br><span>The answer is {{ question.answers[question.answer] }}</span></div>
                                <div v-else id="incorrect"><span>Incorrect.</span><br><span>The answer is {{ question.answers[question.answer] }}</span></div>
                                <br>
                                <div class="app2">
                                    <div class="container">
                                        <div @click="active" class = "button">Translation</div>
                                        <div id="content" v-if="isActive">  
                                            <ul>
                                                <li v-for="answer_translation in question.answer_translations">{{ answer_translation }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </main>

    <footer class="mb-4">
        <div class = "container">
            <div class = "row">
                <div class = "footer_contents col-md-12">
                    <div class="page-top" id="top-btn">
                        <p>Page top</p>
                    </div>
                    <div class="footer_nav">
                    <ul>
                        <li class = "nav-item"><a href="../../about.html" class = "nav-link">About</a></li>
                        <li class = "nav-item"><a href="../../question.html" class = "nav-link">Questions</a></li>
                        <li class = "nav-item"><a href="../../examination.html" class = "nav-link">Examination</a></li>
                        <li class = "nav-item"><a href="../../materials.html" class = "nav-link">References</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
      </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../../../owlcarousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../../../js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script>

        new Vue({
            el: '#app',
            data: {
                answers: [],
                questionIndex: 0,
                isActive: false,
                questions: [
                    {
                        question_content: '무엇에 대한 것인지 알맞은 것을 고르십시오.',
                        question: '은혜를 원수로 갚다니 ()도 유분수지',
                        answers: [
                            '막상막하',
                            '배은망덕',
                            '오합지졸',
                            '박리다매'
                        ],
                        answer: 1,
                        question_translation: "you return evil for good but there is a limit to how ungrateful.",
                        answer_translations: [
                            '막상막하：A miss is as good as a mile',
                            '배은망덕：ungrateful',
                            '오합지졸：mob',
                            '박리다매：Small profits and quick returns'
                        ]
                    },
                    {
                        question_content: '무엇에 대한 이야기입니까? 알맞은 것을 고르십시오.',
                        question: '어떤 세상에 그런 ()한 애기를 믿고 계십니까?',
                        answers: [
                            '좌지우지',
                            '이열치열',
                            '호사다마',
                            "허무맹랑"
                        ],
                        answer: 3,
                        question_translation: "How many people who belive that kind of () story?",
                        answer_translations: [
                            '좌지우지：control as thought',
                            '이열치열：fight fire with fire',
                            '호사다마：the good comes with the bad',
                            "허무맹랑：chimerical, groundless"
                        ]
                    },
                    {
                        question_content: '(     )에 들어갈 가장 알맞은 것을 고르십시오.',
                        question: '사건이 일어났다는 통보를 받고 () 달려왔습니다',
                        answers: [
                            '부리나케',
                            '연거푸',
                            '한사코',
                            '조만간'
                        ],
                        answer: 0,
                        question_translation: "We got a report that an accident happend and came ()",
                        answer_translations: [
                            '부리나케：in a hurry',
                            '연거푸：pummel',
                            "한사코：risk one's life",
                            '조만간：soon'
                        ]
                    },
                    {
                        question_content: '(        )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '갑자기 물어보는 바람에 () 저도 하겠다고 대답하고 말았어요.',
                        answers: [
                            '지그시',
                            '엉겁결에',
                            '실로',
                            "샅샅이"
                        ],
                        answer: 1,
                        question_translation: "I was asked suddenly so said I () would like to join too.",
                        answer_translations: [
                            '지그시：gently',
                            '엉겁결에：unconsciously',
                            '실로：really',
                            "샅샅이：everywhere"
                        ]
                    },
                    {
                        question_content: '(        )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '학생은 () 학업에만 전념해야 한다.',
                        answers: [
                            '무려',
                            '짐짓',
                            '가까스로',
                            "모름지기"
                        ],
                        answer: 3,
                        question_translation: "Students () have to focus on only studying.",
                        answer_translations: [
                            '무려：suprisingly',
                            '짐짓：consciously',
                            '가까스로：nearly, closely',
                            "모름지기：definetely"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '시합을 이기긴 했는데 개운하게 이기질 못해서 뭔가 짐짐해요.',
                        answers: [
                            '시합을 이겨서 기쁘기 짝이 없다.',
                            '시합을 이겼지만 개운하게 못 이기져서 혼났다.',
                            '시합을 이겼지만 후련하지 않다.',
                            "시합을 이겼지만 상처를 받아 버려서 개운하지 않다."
                        ],
                        answer: 2,
                        question_translation: "We won the game but could't win a sweeping victory so it's gloomy.",
                        answer_translations: [
                            "시합을 이겨서 기쁘기 짝이 없다.：We're completely glad to win the game.",
                            "시합을 이겼지만 개운하게 못 이기져서 혼났다.：We won the game but couldn't win a sweeping victory so were scolded.",
                            '시합을 이겼지만 후련하지 않다.：We won the game but feel gloomy.',
                            "시합을 이겼지만 상처를 받아 버려서 개운하지 않다.：We won the game but got injured so feel gloomy."
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '이 옷은 색깔이 화려하지 않고 수수한 편이네요.',
                        answers: [
                            '이 옷은 색깔이 약간 연한 편이다.',
                            '이 옷은 색깔이 약간 진한 편이다.',
                            '이 옷은 색깔이 저에 어울리지 않은 느낌이 들어요.',
                            "이 옷은 색깔이 소박한 편이다."
                        ],
                        answer: 3,
                        question_translation: "The color of this cloth is not flashy and kind of plain.",
                        answer_translations: [
                            '이 옷은 색깔이 약간 연한 편이다.：The color of this cloth is lighter.',
                            '이 옷은 색깔이 약간 진한 편이다.：The color of this cloth is darker',
                            "이 옷은 색깔이 저에 어울리지 않은 느낌이 들어요.：I feel the color of this cloth doesn't fit me.",
                            "이 옷은 색깔이 소박한 편이다.：The color of this cloth is plain."
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '학기 초라서 학교 분위기가 어수선하네요.',
                        answers: [
                            '새로운 학기가 시작됐을 때는 다 성실하다.',
                            '새로운 학기가 시작돼서 마음이 안 잡히다.',
                            '한 학기가 끝나니 마음이 개운하다.',
                            "한 학기가 끝나니 왠지 두근거리다."
                        ],
                        answer: 1,
                        question_translation: "The new term has just begun so the atomosphere is exciting.",
                        answer_translations: [
                            '새로운 학기가 시작됐을 때는 다 성실하다.：When the new term starts, everyone gets serious.',
                            "새로운 학기가 시작돼서 마음이 안 잡히다.：The new term has begun and I can't calm down.",
                            "한 학기가 끝나니 마음이 개운하다.：The term finished and I got everything off my chest.",
                            "한 학기가 끝나니 왠지 두근거리다.：The term finished and I'm exited."
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '아주 흉하다는 점쟁이가 있다는데 같이 안 갈래?',
                        answers: [
                            '얼마전에 길거리에서 수상해 보이는 점쟁이를 찾았다.',
                            '저는 얼마전에 점을 봐서 정말 맞아서 놀랐다.',
                            '저는 친구랑 잘 맞는 점쟁이가 있는 곳에 같이 가고 싶다.',
                            "저는 얼마전에 점을 봤는데 안 맞았다."
                        ],
                        answer: 2,
                        question_translation: "There is a fortune teller who comes true and why don't we come along?",
                        answer_translations: [
                            '얼마전에 길거리에서 수상해 보이는 점쟁이를 찾았다.：A few days ago I found a fortune teller who looks weird on the street.',
                            '저는 얼마전에 점을 봐서 정말 맞아서 놀랐다.：A few days I was read my fortunes and was supprised at it came true.',
                            '저는 친구랑 잘 맞는 점쟁이가 있는 곳에 같이 가고 싶다.：I would like a fortune teller to read my fortune with my friend.',
                            "저는 얼마전에 점을 봤는데 안 맞았다.：A few days I was read my fortunes but didn't come true."
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '그는 요새 연락이뜸해서 무슨 일인가 있었는지 궁금하다.',
                        answers: [
                            '그는 전부터 빈번히 연락을 주는 편이다.',
                            '그가 최근 연락을 안 주므로 걱정이다.',
                            '그는 큰일이 일어날 때마다 연락을 줘서 정신적으로 피곤하다.',
                            "그가 울면서 연락을 해서 무슨 일인지 궁금하다."
                        ],
                        answer: 1,
                        question_translation: "Recently he doesn't contact so I'm curious what happend to him.",
                        answer_translations: [
                            '그는 전부터 빈번히 연락을 주는 편이다.：He has frequently contacted me since a few days ago.',
                            "그가 최근 연락을 안 주므로 걱정이다.：I'm worrying about him because he doesn't contact me recently.",
                            "그는 큰일이 일어날 때마다 연락을 줘서 정신적으로 피곤하다.：I'm tired of him everytime an accident happend to him, he contacts me.",
                            "그가 울면서 연락을 해서 무슨 일인지 궁금하다.：I'm curious what happend to him because he contacted me while crying."
                        ]
                    }
                ]
            },
            methods: {
                addAnswer: function(index) {
                    this.answers.push(index);
                    if(!this.completed) {
                        this.questionIndex++;
                    }
                },
                active: function(){
                    this.isActive = !this.isActive;
                }
            },
            computed: {
                currentQuestion: function() {
                    return this.questions[this.questionIndex];
                },
                completed: function() {
                    return (this.questions.length == this.answers.length);
                }
            }
        })

    </script>
</body>

</html>
