<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Koreanguage</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../../owlcarousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/animated.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
    <header class="mb-4">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a href="../../../index.html"><img class="u-max-full-width navbar-brand" src="../../../images/Koreanguage_title.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon toggle_icon"></span>
            </button>
      
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class = "nav-item"><a href="../../about.html" class = "nav-link" style="margin-right: 20px;">About</a></li>
                    <li class = "nav-item"><a href="../../question.html" class = "nav-link" style="margin-right: 20px;">Questions</a></li>
                    <li class = "nav-item"><a href="../../examination.html" class = "nav-link" style="margin-right: 20px;">Examination</a></li>
                    <li class = "nav-item"><a href="../../materials.html" class = "nav-link" style="margin-right: 20px;">References</a></li>
                    <li class = "nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Language
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="beginner_1.html">English</a>
                            <a class="dropdown-item" href="../../../korean/questions/beginner_questions/beginner_1.html">Korean</a>
                            <a class="dropdown-item" href="../../../japanese/questions/beginner_questions/beginner_1.html">japanese</a>
                          </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="main-contents_question_page">
            <div id="app" class="row">
                <div class = "col-md-12 main_question" v-if="!completed">
                    <div class="card">
                        <div class="card-body">
                            <p class="badge badge-dark">Question {{ (questionIndex+1) }} </p>
                            <br>
                            <h4 class = "card-title">{{ currentQuestion.question_content }}</h4>
                            <br>
                            <h4 class="card-title">{{ currentQuestion.question }}</h4>
                            <br>
                            <button
                                type="button"
                                class="btn btn-block"
                                v-for="(answer,index) in currentQuestion.answers"
                                @click="addAnswer(index)">{{ (index+1) }}. {{ answer }}</button>
                        </div>
                    </div>
                </div>
        
                <div class = "col-md-12 main_result" v-if="completed">
                    <div class="card">
                        <div class="card-body">
                            <p class="badge badge-dark result_tag">Result</p>
                            <div v-for="(question,index) in this.questions">
                                <h4 class="card-title error_color">{{ question.question }}</h4>
                                <span>{{ question.question_translation }}</span>
                                <ul>
                                    <li v-for="answer_translation in question.answer_translations">{{ answer_translation }}</li>
                                </ul>
                                <div v-if="question.answer == answers[index]" id="correct"><span>Correct</span><br><span>The answer is {{ question.answers[question.answer] }}</span></div>
                                <div v-else id="incorrect"><span>Incorrect</span><br><span>The answer is {{ question.answers[question.answer] }}</span></div>
                                <br>
                                <br>
                                
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="mb-4">
        <div class = "container">
            <div class = "row">
                <div class = "footer_contents col-md-12">
                    <div class="page-top" id="top-btn">
                        <p>Page top</p>
                    </div>
                    <div class="footer_nav">
                    <ul>
                        <li class = "nav-item"><a href="../../about.html" class = "nav-link">About</a></li>
                        <li class = "nav-item"><a href="../../question.html" class = "nav-link">Questions</a></li>
                        <li class = "nav-item"><a href="../../examination.html" class = "nav-link">Examination</a></li>
                        <li class = "nav-item"><a href="../../materials.html" class = "nav-link">References</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
      </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../../../owlcarousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../../../js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script>

        new Vue({
            el: '#app',
            data: {
                answers: [],
                questionIndex: 0,
                questions: [
                    {
                        question_content: '무엇에 대한 이야기입니까? 알맞은 것을 고르십시오.',
                        question: '미국에 갑니다. 그리고 중국에 갑니다.',
                        answers: [
                            '공부',
                            '전화',
                            '여행',
                            '학교'
                        ],
                        answer: 2,
                        question_translation: "I go to Korea and China.",
                        answer_translations: [
                            "공부：Study",
                            "전화：Calling",
                            "여행：Travel",
                            "학교：School"
                        ]
                    },
                    {
                        question_content: '무엇에 대한 이야기입니까? 알맞은 것을 고르십시오.',
                        question: '친구랑 음식을 먹어요.',
                        answers: [
                            '약속',
                            '식당',
                            '쇼핑',
                            "약국"
                        ],
                        answer: 1,
                        question_translation: "I have a meal with my friend.",
                        answer_translations: [
                            '약속：Promise',
                            '식당：Carteen',
                            '쇼핑：Shopping',
                            "약국：Pharmacy"
                        ]
                    },
                    {
                        question_content: '(     )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '경기가 나빠서 (      )가 힘들어요？',
                        answers: [
                            '가게',
                            '스포츠',
                            '운동',
                            '영화'
                        ],
                        answer: 0,
                        question_translation: "The economy is bad and it is difficult to manage ().",
                        answer_translations: [
                            '가게：Store',
                            '스포츠：Sports',
                            '운동：Exercise',
                            '영화：Movie'
                        ]
                    },
                    {
                        question_content: '(        )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '한국 드라마는 재미있어서 (       ).',
                        answers: [
                            '싫어해요',
                            '예뻐요',
                            '맛있어요',
                            "좋아해요"
                        ],
                        answer: 3,
                        question_translation: "Korean drama is interesting and ()",
                        answer_translations: [
                            '싫어해요：dislike',
                            '예뻐요：cute',
                            '맛있어요：tasty',
                            "좋아해요：like"
                        ]
                    },
                    {
                        question_content: '(        )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '(        )에 돈을 찾으러 갑니다.',
                        answers: [
                            '은행',
                            '편의점',
                            '슈퍼',
                            "호주"
                        ],
                        answer: 3,
                        question_translation: "I Go to () to withdraw money",
                        answer_translations: [
                            '은행：Bank',
                            '편의점：Department store',
                            '슈퍼：Supermarket',
                            "호주：Australia"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '우리 집에는 강아지가 있어요. 정말 귀엽고 우리 집의 아이돌 같은 존재예요.',
                        answers: [
                            '우리 집에는 고양이가 있어요.',
                            '우리 집에는 개가 있어요.',
                            '우리 집에는 게가 있어요.',
                            "우리 집에는 새가 있어요."
                        ],
                        answer: 1,
                        question_translation: "We have a puppy in our house. It's really cute and it's like an idol at home.",
                        answer_translations: [
                            '우리 집에는 고양이가 있어요.：We have a cat in our house.',
                            '우리 집에는 개가 있어요.；We have a dog in our house.',
                            '우리 집에는 게가 있어요.：We have a crab in our house.',
                            "우리 집에는 새가 있어요.：We have a bird in our house."
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '오늘은 학교에 가서 일본어를 공부할 거예요. 일본어를 공부한후 학원에 가요. 저는 최근 학원에서 영어를 배워요.',
                        answers: [
                            '오늘 일본어를 배울 예정이 있어요.',
                            '오후에 영어를 공부할 거예요.',
                            '일본어는 조금 어려워요.',
                            "영어는 공부하기 어려워요."
                        ],
                        answer: 0,
                        question_translation: "Today I go to school and study Japanese. After I study Japanese, go to a cram school. Recently, I study English at the cram school.",
                        answer_translations: [
                            '오늘 일본어를 배울 예정이 있어요.：Today I have a plan to study Japanese.',
                            '오후에 영어를 공부할 거예요.：In the evening, I will study English. ',
                            '일본어는 조금 어려워요.：Japanese is a little bit difficult.',
                            "영어는 단어가 어려워요.：English is difficult to remember words."
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '친구하고 동네에 놀러 갔어요. 친구는 하얀 가방을 사고 저는 빨간 옷을 샀어요.',
                        answers: [
                            '친구와 쇼핑을 하러 갔어요.',
                            '친구랑 같은 옷을 샀어요.',
                            '저는 옷을 샀지만 그렇게 좋아하지 않아요.',
                            "저는 옷을 샀지만 그걸 친구에게 줬어요."
                        ],
                        answer: 0,
                        question_translation: "I hung out in a city with my friend. My friend bought a white bag and I did a red shirt.",
                        answer_translations: [
                            '친구와 쇼핑을 하러 갔어요.：I went shopping.',
                            '친구랑 같은 옷을 샀어요.：I bought the same shirt as my friend.',
                            "저는 옷을 샀지만 그렇게 좋아하지 않아요.：I bought a shirt but don't like it.",
                            "저는 옷을 샀지만 그걸 친구에게 줬어요.：I bought a shirt but gave my friend it."
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '여름에는 한날에 2시간쯤 농구를 하도록 해요. 그리고 일주일에 5일 농구를 해요. 하지만 맥주을 많이 먹어서 살 빼지 않아요.',
                        answers: [
                            '여름에는 운동을 많이 하지만 겨울에는 안 해요.',
                            '여름에는 하루 종일 농구를 해요.',
                            '운동을 하지만 술을 먹기 때문에 살 빼지 않아요.',
                            "한날에 2시간쯤 농구를 했지만 포기했어요."
                        ],
                        answer: 2,
                        question_translation: "I make it a rule to play basketball for about 2 hours a day in the summer. And I play basketball 5 days a week. However, I drink a lot of beer so can't lose my weight.",
                        answer_translations: [
                            "여름에는 운동을 많이 하지만 겨울에는 안 해요.：I play sports in the summer but don't do in the winter.",
                            '여름에는 하루 종일 농구를 해요.：I play basketball all day in the summer.',
                            "운동을 하지만 술을 먹기 때문에 살 빼지 않아요.：I exercise, but don't lose weight because I drink a lot of alcohol.",
                            "한날에 2시간쯤 농구를 했지만 포기했어요.：I played basketball for about 2 hours a day, but gave up."
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '저는 맨날 학교에서 많이 공부를 해야 돼요. 학교가 끝나도 학원에 가거나 예정이 많이 있어서 괴로워요.',
                        answers: [
                            '매일 바쁘지만 재미있어요.',
                            '학교가 끝나도 학교에서 많이 공부해야 돼요.',
                            '공부를 많이 해야 되지만 친구랑 많이 놀아요.',
                            "맨날 해야 하는 게 많이 있어서 힘들어요."
                        ],
                        answer: 3,
                        question_translation: "I have to study a lot at school every day. Even after school, I have a lot of plans to go to a cram school and am tired.",
                        answer_translations: [
                            "매일 바쁘지만 재미있어요.：I'm busy every day, but it's fun.",
                            '학교가 끝나도 그대로 학교에서 많이 공부해야 돼요.：Even after school, I have to stay and study a lot at school.',
                            '공부를 많이 해야 되지만 친구랑 많이 놀아요.：I have to study a lot but hang out with my friend my times',
                            "맨날 해야 하는 게 많이 있어서 힘들어요.：I have a lot of things to do so am tired"
                        ]
                    }
                ]
            },
            methods: {
                addAnswer: function(index) {

                    this.answers.push(index);

                    if(!this.completed) {

                        this.questionIndex++;

                    }

                }
            },
            computed: {
                currentQuestion: function() {

                    return this.questions[this.questionIndex];

                },
                completed: function() {

                    return (this.questions.length == this.answers.length);

                }
            }
        })

    </script>
</body>

</html>
