<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Koreanguage</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../../owlcarousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/animated.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
    <header class="mb-4">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a href="../../korean_toppage.html"><img class="u-max-full-width navbar-brand" src="../../../images/Koreanguage_title.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon toggle_icon"></span>
            </button>
      
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class = "nav-item"><a href="../../about.html" class = "nav-link">개요</a></li>
                    <li class = "nav-item"><a href="../../question.html" class = "nav-link">문제</a></li>
                    <li class = "nav-item"><a href="../../examination.html" class = "nav-link">시험에 대해</a></li>
                    <li class = "nav-item"><a href="../../materials.html" class = "nav-link">참고 자료</a></li>
                    <li class = "nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            언어 선택
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../../../english/questions/intermediate_questions/intermediate_2.html">English</a>
                            <a class="dropdown-item" href="intermediate_2.html">Korean</a>
                            <a class="dropdown-item" href="../../../japanese/questions/intermediate_questions/intermediate_2.html">japanese</a>
                          </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="main-contents_question_page">
            <div id="app" class="row">
                <div class = "col-md-12 main_question" v-if="!completed">
                    <div class="card">
                        <div class="card-body">
                            <p class="badge badge-dark">문제 {{ (questionIndex+1) }} </p>
                            <br>
                            <h4 class = "card-title">{{ currentQuestion.question_content }}</h4>
                            <br>
                            <h4 class="card-title">{{ currentQuestion.question }}</h4>
                            <br>
                            <button
                                type="button"
                                class="btn btn-block"
                                v-for="(answer,index) in currentQuestion.answers"
                                @click="addAnswer(index)">{{ (index+1) }}. {{ answer }}</button>
                        </div>
                    </div>
                </div>
        
                <div class = "col-md-12 main_result" v-if="completed">
                    <div class="card">
                        <div class="card-body">
                            <p class="badge badge-dark result_tag">결과</p>
                            <div v-for="(question,index) in this.questions">
                                <h4 class="card-title error_color">{{ question.question }}</h4>
                                <span>{{ question.question_translation }}</span>
                                <div v-if="question.answer == answers[index]" id="correct"><span>정답입니다.</span><br><span>정답은 {{ question.answers[question.answer] }} 입니다.</span></div>
                                <div v-else id="incorrect"><span>오답입니다.</span><br><span>정답은 {{ question.answers[question.answer] }} 입니다.</span></div>
                                <br>
                                <div class="app2">
                                    <div class="container">
                                        <div @click="active" class = "button">설명을 보다</div>
                                        <div id="content" v-if="isActive">  
                                            <ul>
                                                <li v-for="answer_translation in question.answer_translations">{{ answer_translation }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </main>

    <footer class="mb-4">
        <div class = "container">
            <div class = "row">
                <div class = "footer_contents col-md-12">
                    <div class="page-top" id="top-btn">
                        <p>Page top</p>
                    </div>
                    <div class="footer_nav">
                    <ul>
                        <li class = "nav-item"><a href="../../about.html" class = "nav-link">개요</a></li>
                        <li class = "nav-item"><a href="../../question.html" class = "nav-link">문제</a></li>
                        <li class = "nav-item"><a href="../../examination.html" class = "nav-link">시험에 대해</a></li>
                        <li class = "nav-item"><a href="../../materials.html" class = "nav-link">참고 자료</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
      </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../../../owlcarousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../../../js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script>

        new Vue({
            el: '#app',
            data: {
                answers: [],
                questionIndex: 0,
                questions: [
                    {
                        question_content: '무엇에 대한 이야기입니까? 알맞은 것을 고르십시오.',
                        question: '어른이 모여서 국가 장래에 관한 것에 토론해요',
                        answers: [
                            '농업',
                            '정치',
                            '형태',
                            '특징'
                        ],
                        answer: 1,
                        question_translation: "Adults gather and discuss about the future of nation.",
                        answer_translations: [
                            '농업：agriculture',
                            '정치：government',
                            '형태：figure',
                            '특징：character'
                        ]
                    },
                    {
                        question_content: '무엇에 대한 이야기입니까? 알맞은 것을 고르십시오.',
                        question: '겨울에는 필수품이라고 해도 과언이 않을 정도 필요한 것이다.',
                        answers: [
                            '냉장고',
                            '난로',
                            '냉방',
                            "절전"
                        ],
                        answer: 1,
                        question_translation: "It's not too much to say mandatory in winter.",
                        answer_translations: [
                            '냉장고：refrigerator',
                            '난로：heater',
                            '냉방：AC',
                            "절전：power saving"
                        ]
                    },
                    {
                        question_content: '(     )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '사람 앞에서 이야기를 할 때 항상 ().',
                        answers: [
                            '표현이 올발라요',
                            '표가 많아요',
                            '표시가 중요해요',
                            '표정이 굳어져요'
                        ],
                        answer: 3,
                        question_translation: "Every time I talk in front of people, always ()",
                        answer_translations: [
                            '표현이 올발라요：the expression is correct.',
                            '표가 많아요：has a lot of votes',
                            '표시가 중요해요：the display is importand',
                            '표정이 굳어져요：become stiff'
                        ]
                    },
                    {
                        question_content: '(        )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '하루 종일 할 일이 많이 있어서 ().',
                        answers: [
                            '정신이 없었어요',
                            '정신이 들었어요',
                            '정신을 차렸어요',
                            "정신이 강했어요"
                        ],
                        answer: 0,
                        question_translation: "I had a lot of things in all day so ().",
                        answer_translations: [
                            '정신이 없었어요：felt uneasy',
                            '정신이 들었어요：regain consciousness',
                            '정신을 차렸어요：got it together and focus on my job',
                            "정신이 강했어요：had a strong mind"
                        ]
                    },
                    {
                        question_content: '(        )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '뭔가 () 있으면 저한테 물어보세요.',
                        answers: [
                            '시간이 걸리는 게',
                            '시동이 걸리는 게',
                            '마음에 걸리는 게',
                            "벽에 걸리는 게"
                        ],
                        answer: 2,
                        question_translation: "If you have (), please ask me.",
                        answer_translations: [
                            '시간이 걸리는 게：something which taks time',
                            '시동이 걸리는 게：something which starts an engine',
                            "마음에 걸리는 게：something which you're worrying",
                            "벽에 걸리는 게：something which put on the wall"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '거의 학생들은 하교에 인접하는 기숙사에서 친구하고 같이 살아요.',
                        answers: [
                            '고향을 떠나는 것은 누구든지 외로운 법이다.',
                            '누구든지 언젠가는 정신적으로도 독립해야 되기 마련이다.',
                            '수많은 학생들이 고향을 떠나서 공동 생활을 보내고 있다.',
                            "고향을 떠나서 친구하고 같이 사는 것은 두근두근하기 마련이다."
                        ],
                        answer: 2,
                        question_translation: "Almost people live together with thier friends at a domitory adjacent to the school.",
                        answer_translations: [
                            "고향을 떠나는 것은 누구든지 외로운 법이다.：There're no one who doesn't miss their hometowns after leaving there.",
                            '누구든지 언젠가는 정신적으로도 독립해야 되기 마련이다.：All people will have to become independent mentally someday.',
                            '수많은 학생들이 고향을 떠나서 공동 생활을 보내고 있다.：A lot of students leave their hometowns and live under the same roof.',
                            "고향을 떠나서 친구하고 같이 사는 것은 두근두근하기 마련이다.：It's exciting to leave one's hometown and live with friends."
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '사람이라는 것은 좌절을 겪어야 성장할 수 있는 게 않을까.',
                        answers: [
                            '사람은 수많은 실패를 하고 나서 비로소 성장 할 수 있다.',
                            '좌절을 겪고 싶지 않으면 문제가 발생하기전에 대응해야 한다.',
                            '좌절을 경험하기로서니 성장할 수 없을 때도 있다.',
                            "사람은 실패를 해도 영 성장할 수 없기 마련이다."
                        ],
                        answer: 0,
                        question_translation: "People can grow up after facing a brickwall.",
                        answer_translations: [
                            '사람은 수많은 실패를 하고 나서 비로소 성장 할 수 있다.：People can grow up after making a lot of failures.',
                            "좌절을 겪고 싶지 않으면 문제가 발생하기전에 대응해야 한다.：We have to deal with the problem before it occurs if you don't want to face a brickwall.",
                            "좌절을 경험하기로서니 성장할 수 없을 때도 있다.：There're some cases we can't grow up even if we face a brickwall.",
                            "사람은 실패를 해도 영 성장할 수 없기 마련이다.：We can't grow up at all even if we face a brickwall."
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '해외에서 새로 농산물을 수입할까 하는데 해야 되는 일이 많이 있더라고요...',
                        answers: [
                            '외국에서 수입하려고 했지만 좋은 거래처를 찾을 수 없었다.',
                            '외국에서 수입하려고 하면 까다로운 철자를 밟아야 한다.',
                            '해외에서 수입할 때는 안전성에 배려해야 한다.',
                            "해외에서 수입할까 하는데 사장님이 허가를 주시지 않았다."
                        ],
                        answer: 1,
                        question_translation: "We're willing to import new agricultural products from abroad but there're a lot of things to do.",
                        answer_translations: [
                            "외국에서 수입하려고 했지만 좋은 거래처를 찾을 수 없었다.：We tried to import from abroad but could't find a good business partner.",
                            "외국에서 수입하려고 하면 까다로운 철자를 밟아야 한다.：If we'd like to import from abroad, we'll have to go through time-consuming procedures",
                            '해외에서 수입할 때는 안전성에 배려해야 한다.：When we import from abroad, we have to take the safety into the consideration.',
                            "해외에서 수입할까 하는데 사장님이 허가를 주시지 않았다.：We're willing to import from abroad but the president doesn't allow that."
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '그는 미래 대통령으로써 이 나라에서는 유명한 존재다.',
                        answers: [
                            '그는 언젠가 대통령이 되고 싶다고 하지만 확실하지 않다.',
                            '그는 어린 시절부터 대통령이 되기를 바라고 있다.',
                            '그는 언젠가 대통령이 될까 염려하고 있다.',
                            "그는 이 국가의 장래 대통령이라고 불리고 있을 정도의 존재다."
                        ],
                        answer: 3,
                        question_translation: "He is a famous existance as a president in the future",
                        answer_translations: [
                            "그는 언젠가 대통령이 되고 싶다고 하지만 확실하지 않다.：He says he'd like to become a president someday but it's not sure.",
                            "그는 어린 시절부터 대통령이 되기를 바라고 있다.：He's wished to becomes a president since he was a kid.",
                            "그는 언젠가 대통령이 될까 염려하고 있다.：He's worrying to become a president someday.",
                            "그는 이 국가의 장래 대통령이라고 불리고 있을 정도의 존재다.：He's called a president in the future of this nation."
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '그녀는 이 분야에서는 수많은 수상 경력이 있다.',
                        answers: [
                            '그녀는 앞으로 수많은 상을 받을 수 있도록 노력하고 있다.',
                            '그녀는 지금까지 많은 전문적인 상을 받았다.',
                            '그녀는 많은 상을 받았지만 관심을 보지 않았다.',
                            "그녀는 노력 끝에 겨우 하나 상을 받았다."
                        ],
                        answer: 2,
                        question_translation: "She received a lot of awards in this field.",
                        answer_translations: [
                            '그녀는 앞으로 수많은 상을 받을 수 있도록 노력하고 있다.：She puts her effort in order to receive a lot of awards.',
                            "그녀는 지금까지 많은 전문적인 상을 받았다.：She's received a lot of expert awards.",
                            "그녀는 많은 상을 받았지만 관심을 보지 않았다.：She received a lot of awards but didn't show her interest.",
                            "그녀는 노력 끝에 겨우 하나 상을 받았다.：She received a award with effort and struggle."
                        ]
                    }
                ]
            },
            methods: {
                addAnswer: function(index) {

                    this.answers.push(index);

                    if(!this.completed) {

                        this.questionIndex++;

                    }

                }
            },
            computed: {
                currentQuestion: function() {

                    return this.questions[this.questionIndex];

                },
                completed: function() {

                    return (this.questions.length == this.answers.length);

                }
            }
        })

    </script>
</body>

</html>
