<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Koreanguage</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../owlcarousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/animated.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
    <header class="mb-4">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a href="japanese_toppage.html"><img class="u-max-full-width navbar-brand" src="../images/Koreanguage_title.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon toggle_icon"></span>
            </button>
      
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class = "nav-item"><a href="about.html" class = "nav-link">概要</a></li>
                    <li class = "nav-item"><a href="question.html" class = "nav-link">問題</a></li>
                    <li class = "nav-item"><a href="examination.html" class = "nav-link">試験について</a></li>
                    <li class = "nav-item"><a href="materials.html" class = "nav-link">参考資料</a></li>
                    <li class = "nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            言語選択
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../english/examination.html">英語</a>
                            <a class="dropdown-item" href="../korean/examination.html">韓国語</a>
                            <a class="dropdown-item" href="examination.html">日本語</a>
                          </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme">
                        <div>
                            <img class="u-max-full-width" src="../images/header/korea-image.jpg" alt="">
                        </div>

                        <div>
                            <img class="u-max-full-width" src="../images/header/korea-image.jpg" alt="">
                        </div>

                        <div>
                            <img class="u-max-full-width" src="../images/header/korea-image.jpg" alt="">
                        </div>

                        <div>
                            <img class="u-max-full-width" src="../images/header/korea-image.jpg" alt="">
                        </div>

                        <div>
                            <img class="u-max-full-width" src="../images/header/korea-image.jpg" alt="">
                        </div>

                        <div>
                            <img class="u-max-full-width" src="../images/header/korea-image.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 main-contents_examination">
                    <h2>韓国語の試験</h2>
                    <p>韓国語の試験には、大きく分けて2種類あります。<br> それぞれの国でもあるとは思いますが、世界的に見て幅広く認知されているのが、
                        <br> 「TOPIK(韓国語能力試験)」及び「KLAT(韓国語能力評価試験)」の二つです。
                        <br> どちらとも、韓国政府が認許していますが、より細かく分けるとTOPIKに関しては、国立国際教育院が主管機関が実施しており、
                        <br> KLATに関しては、財団法人韓国語能力評価院が管理・運営を行っております。
                        <br> その他にも、いくつか韓国語の試験はございますが、こちらでは主にこの2つの試験について説明させていただきます。
                    </p>

                    <div id="tabBox">
                        <div class="tabs">
                            <input type="radio" value="1" id="tab1" v-model="isActive"></input>
                            <label for="tab1">TOPIK</label>
                     
                            <input type="radio" value="2" id="tab2" v-model="isActive"></input>
                            <label for="tab2">KLAT</label>
                        </div>
                        <div class="contents">
                            <div v-if="isActive == '1'" style="list-style: none;">
                                <div class="tab_contents">
                                    <div class="tab_contents_item">
                                        <p>TOPIK（Test of Proficiency in Korean）は、大韓民国政府（大韓民国教育省国立国際教育院）が実施する 韓国語能力試験です。１９９７年に開始され、現在世界の７０か国以上で一斉に実施され、世界でも最も認知された韓国語試験です。 試験には、それぞれTOPIKⅠとTOPIKⅡがあります。
                                        </p>
                                        <table class="table table-hover table-sm table-bordered">
                                            <tr>
                                                <th></th>
                                                <th>TOPIK I</th>
                                                <th colspan="2">TOPIK II</th>
                                            </tr>
    
                                            <tr>
                                                <td>実施機関</td>
                                                <td colspan="3">大韓民国教育省国立国際教育院</td>
                                            </tr>
    
                                            <tr>
                                                <td>実施回数</td>
                                                <td colspan="3">国外では、年に３回（４月、７月、１０月）<br> 韓国国内では、年に６回
                                                </td>
                                            </tr>
    
                                            <tr>
                                                <td>試験区分</td>
                                                <td>１級（初級レベル）<br>２級</td>
                                                <td colspan="2">３級、４級<br>５級、６級(最高難易度)</td>
                                            </tr>
    
                                            <tr>
                                                <td>試験時間</td>
                                                <td>入室時間：<br>9:20まで<br> 開始時間：<br>10:00
                                                    <br> 終了時間：<br>11:40
                                                    <br> 計：100分
                                                </td>
                                                <td>１次：<br>作文及び聞き取り<br> 入室時間：<br>12:20まで
                                                    <br> 開始時間：<br>13:00
                                                    <br> 終了時間：<br>14:50
                                                    <br> 計：110分
                                                </td>
                                                <td>２次：読解<br> 入室時間：<br>15:10まで
                                                    <br> 開始時間：<br>15:20
                                                    <br> 終了時間：<br>16:30
                                                    <br> 計：70分
                                                </td>
                                            </tr>
    
                                            <tr>
                                                <td>合格基準</td>
                                                <td>１級：８０点以上<br> ２級：１４０点以上
                                                </td>
                                                <td colspan="2">３級：１２０点以上<br> ４級：１５０点以上
                                                    <br> ５級：１９０点以上
                                                    <br> ６級：２３０点以上
                                                </td>
                                            </tr>
    
                                            <tr>
                                                <td>諸費用</td>
                                                <td>４０,０００ウォン<br>（韓国国外の場合、<br>現地の受験料を基準とする）</td>
                                                <td colspan="2">５５,０００ウォン<br>（韓国国外の場合、<br>現地の受験料を基準とする）</td>
                                            </tr>
    
                                        </table>
                                    </div>
    
                                    <div class="tab_contents_item">
                                        <p>試験問題に関してましては、それぞれの級で少し異なる部分があります。<br> ＴＯＰＩＫⅡからは、作文問題も追加され、難易度も上がります。
                                            <br>
                                             基本的に、午前と午後で分かれており、併願も可能です。
                                        </p>
                                        <table class="table table-hover table-sm table-bordered second_table">
                                            <tr>
                                                <th></th>
                                                <th>TOPIK I</th>
                                                <th colspan="2">TOPIK II</th>
                                            </tr>                   
    
                                            <tr>
                                                <td>回答形式</td>
                                                <td>マークシート方式</td>
                                                <td colspan="2">作文：記述式<br> 聞き取り：マークシート方式
                                                </td>
                                            </tr>
    
                                            <tr>
                                                <td>問題文</td>
                                                <td colspan="3">問題文に関しましては、<br> ＴＯＰＩＫⅠもＴＯＰＩＫⅡもどちらとも
                                                    <br> 韓国語で出題されます。
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td>問題レベル</td>
                                                <td colspan="2" style="width: 100px; padding: 20px;">
                                                    <span class = "level">1級（初級）：</span>
                                                    自己紹介、買い物、飲食店での注文など生活に必要な基礎的な言語を駆使でき、身近な話題の内容を理解が可能。<br>

                                                    <span class = "level">2級（初級）：</span>
                                                    電話やお願い程度の日常生活に必要な言語（ハングル）や、郵便局、銀行などの公共機関での会話ができる。<br>
                                                
                                                    <span class = "level">3級（中級）：</span>
                                                    日常生活を問題なく過ごせ、様々な公共施設の利用や社会的関係を維持するための言語（ハングル）使用が可能。<br>

                                                    <span class = "level">4級（中級）：</span>
                                                    公共施設の利用が可能でニュースや新聞をある程度理解でき、一般業務に必要な言語（ハングル）が使用可能。<br>

                                                    <span class = "level">5級（上級）：</span>
                                                    専門分野においての業務に必要なハングルを問題なく使用でき、政治・経済・社会などについて理解できる。<br>

                                                    <span class = "level">6級（上級）：</span>
                                                    ネイティブ程度ではないが、専門分野における業務遂行に必要なハングルを流暢に使用でき、自己表現ができる。<br>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
    
                                    <div class="tab_contents_item">
                                        <h2>試験を受けられるうえでの注意事項</h2>
    
                                        <h3>本人確認の提示</h3>
                                        <p>試験を受けられる際は、<strong>必ず公的の写真付き身分証明書</strong>が必要となります。<br> 例：パスポート及び運転免許証、外国人登録証等（なお、普段使用されている学生証や社員証などは、認められない場合がございますのでご注意ください。）
                                            <br> <span style="color: red;">また、受験票を紛失された場合には、速やかに事務局へ連絡してください。</span>
                                            <br>
    
                                            <h3>試験で使用不可なもの</h3>
                                            <p>携帯電話・タブレット端末・ボイスレコーダー・スマートウォッチ・辞書類・カメラ<br>
                                                また、TOPIKに関しては、受験をされる際、受験会場で専用のペンが配布されるのでそちらを使っていただくようになるので、
                                                <span style="color: red;">修正テープも持参されることをお勧めいたします。</span>
                                            </p>
    
                                            <h3>当日配布されるペン</h3>
                                            <p>TOPIKに関しては、筆記用具は必要ございません。
                                                受験をされる際には、専用のマーカーのペンが受験者に配布されます。
                                                また、持参物においてマークを修正をするための修正テープの持ち込みは可能ですので、持参されることをお勧めいたします。
                                            </p>
    
                                            <h3>不正行為</h3>
                                            <table class="table table-hover table-sm table-bordered">
                                                <tr>
                                                    <th colspan="2">不正行為例</th>
                                                </tr>
                                                <tr>
                                                    <td width="50%">単純不正行為<br>
                                                        <ul class="example">
                                                            <li>他の人に答えを見せたり、見る</li>
                                                            <li>試験前に準備したメモを見る</li>
                                                            <li>試験時間終了後に答えを記入する</li>
                                                            <li>正当な監督官の指示に従わない</li>
                                                            <li>不必要な機器を机に置く、又は使用する</li>
                                                            <li>その他、法律･社会的に許されない方法で受験する</li>
                                                        </ul>
                                                    </td>
                                                    <td width="50%">計画的、故意による不正行為
                                                        <ul class = "example">
                                                            <li>不正な携帯物を見る、または使用する</li>
                                                            <li>試験中に内部または外部の者と連絡をとる</li>
                                                            <li>暴力、高圧的な態度で他人や監督官を威嚇する</li>
                                                            <li>代理(替玉)受験を依頼したり、応じて受験する</li>
                                                            <li>電子機器を組織的に使用し、情報を共有する</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
    
                                            <p>※なお、不正行為を行った場合、以下のような処理がされます。<br>
                                                <ul>
                                                    <li>採点をせず、無効処理</li>
                                                    <li>２年間の受験資格制限</li>
                                                    <li>団体受験の場合、所属機関へ不正行為の摘発を通知</li>
                                                </ul>
                                            </p>
    
                                            <h3>その他注意事項</h3>
                                            <ul>
                                                <li>返金申請を提出された方は受験できず、受験されたとしても採点処理されません。</li>
                                                <li>試験開始後の入室はできません。遅刻しないよう時間に余裕をもって会場へお越しください。</li>
                                                <li>体調不良やその他理由がある場合は試験監督官にお申し出ください。</li>
                                                <li>TOPIKⅡの場合、1時間目欠席者は2時間目の入室ができません。</li>
                                                <li>周りの受験者にご迷惑をかける行為をする場合、退室させていただきます。</li>
                                                <li>試験監督官や係員の指示に従わなかったり、不正行為を行った方は退室させることがあります。
                                                    　また、採点はされず、悪質である場合は２年間受験資格を制限します。</li>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                     
                            <div v-else-if="isActive == '2'" style="list-style: none;">
                                <div class="tab_contents">
                                    <div class="tab_contents_item">
                                        <p>KLAT（Korean Language Ability Test）も同様に、韓国語を母語としない学習者を対象とした検定試験の一つですが、それぞれ初級、中級、上級にテストが分かれており、点数ごとに級が異なります。</p>
                                        <table class="table table-hover table-sm table-bordered">
                                            <tr>
                                                <th></th>
                                                <th>初級</th>
                                                <th>中級</th>
                                                <th>上級</th>
                                            </tr>
    
                                            <tr>
                                                <td>実施機関</td>
                                                <td colspan="3">財団法人韓国語能力評価院</td>
                                            </tr>
    
                                            <tr>
                                                <td>実施回数</td>
                                                <td colspan="3">年に４回程度</td>
                                            </tr>
    
                                            <tr>
                                                <td>試験区分</td>
                                                <td>１級（初級レベル）、２級</td>
                                                <td>３級、４級</td>
                                                <td>５級、６級（最高難易度）</td>
                                            </tr>
    
                                            <tr>
                                                <td>試験時間</td>
                                                <td>入室時間：<br>9:20まで<br> 開始時間：<br>10:00
                                                    <br> 終了時間：<br>11:50
                                                    <br> 計：110分
                                                </td>
                                                <td>入室時間：<br>13:20まで<br> 開始時間：<br>14:00
                                                    <br>終了時間：<br>16:00
                                                    <br>計：120分
                                                </td>
                                                <td>入室時間：<br>9:20まで<br> 開始時間：<br>10:00
                                                    <br>終了時間：<br>12:55
                                                    <br>計：165分
                                                    <br>休憩時間10分を含む
                                                </td>
                                            </tr>
    
                                            <tr>
                                                <td>合格基準</td>
                                                <td>１級：８０点～１３９点<br> ２級：１４０点～２００点
                                                </td>
                                                <td>３級：８０点～１３９点<br> ４級：１４０点～２００点</td>
                                                <td>５級：１５０点～２３９点<br>６級：２４０点～３００点</td>
                                            </tr>
    
                                            <tr>
                                                <td>諸費用</td>
                                                <td colspan="3">４０，０００ウォン（韓国国外の場合、現地の受験料を基準とする）</td>
                                            </tr>
    
                                        </table>
                                    </div>
    
                                    <div class="tab_contents_item">
                                        <table class="table table-hover table-sm table-bordered">
                                            <tr>
                                                <th></th>
                                                <th>初級</th>
                                                <th>中級</th>
                                                <th>上級</th>
                                            </tr>                      
    
                                            <tr>
                                                <td>回答形式</td>
                                                <td colspan="2">PBT試験（筆記試験）<br>
                                                                または、CBT試験（コンピューター試験）</td>
                                                <td>PBT試験（筆記試験）</td>
                                            </tr>
    
                                            <tr>
                                                <td>問題文</td>
                                                <td colspan="3">問題文に関しましては、<br>全て韓国語で出題されます。
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td>問題レベル</td>
                                                <td colspan = "3" style="width: 100px; padding: 20px;">
                                                    <span class = "level">1級（初級）：</span>
                                                    日常生活でよく使う簡単なやりとりや表現ができる。<br>

                                                    <span class = "level">2級（初級）：</span>
                                                    日常生活や対人関係において韓国語による基本的なコミュニケーションがとれる。<br>

                                                    <span class = "level">3級（中級）：</span>
                                                    さまざまな状況において独自に対処でき、日常的な言語表現をほぼ理解し使用できる。<br>

                                                    <span class = "level">4級（中級）：</span>
                                                    日常生活や会社などの一般的な状況で多様な表現を難なく把握し活用できる。<br>

                                                    <span class = "level">5級（上級）：</span>
                                                    ネイティブと幅広く交流でき、自分の意思表現が明確で相手を説得することができる。<br>

                                                    <span class = "level">6級（上級）：</span>
                                                    ネイティブレベルの自由なコミュニケーションができる。<br>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
    
                                    <div class="tab_contents_item">
                                        <h2>試験を受けられるうえでの注意事項</h2>
    
                                        <h3>本人確認の提示</h3>
                                        <p>試験を受けられる際は、<strong>必ず公的の写真付き身分証明書</strong>が必要となります。<br> 例：パスポート及び運転免許証、外国人登録証等（なお、普段使用されている学生証や社員証などは、認められない場合がございますのでご注意ください。）
                                            
                                            <br> <span style="color: red;">また、受験票を紛失された場合には、速やかに事務局へ連絡してください。</span>
                                            <br>
    
                                            <h3>不正行為</h3>
                                            <table class="table table-hover table-sm table-bordered">
                                                <tr>
                                                    <th>不正行為例</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <ul class="example">
                                                            <li>代理試験受験者ならびに代理受験を依頼した人</li>
                                                            <li>回答用紙を交換して回答した人または交換しようと試みた人</li>
                                                            <li>試験開始後、携帯電話、小型カメラ、イヤホンなどの電子機器を所持していた人</li>
                                                            <li>受験票、身分証明書、成績証明書などを偽造または改造した人</li>
                                                            <li>試験中に退室し、ふたたび入場した人</li>
                                                            <li>他人に答えを伝えたり、見せた人、または他人の答えを見た人</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
    
                                            <p>※なお、不正行為を行った場合、以下のような処理がされます。<br>
                                                <ul>
                                                    <li>不正行為者とみなされた人は、受験した試験結果を無効とし、3年間受験資格を剥奪します。</li>
                                                    <li>不正行為が疑われた人は、試験が終了した後も不正行為者として処罰されることがあります。</li>
                                                    <li>悪質な不正行為が発覚した場合、業務妨害罪で関連機関に刑事告発されることがあります。</li>
                                                </ul>
                                            </p>
    
                                            <h3>その他</h3>
                                            <p>試験延期の申請は不可能であり、試験キャンセル、及び返金申請は以下の通り可能です。</p>
                                            <ul>
                                                <li>試験申し込み締切前：送金手数料を除いた受験料全額(100%）返金</li>
                                                <li>試験申し込み締切以降：申し込み締切7日以内であれば、<br>送金手数料を除いた受験料の半額(50%）返金
                                                    <br>試験申し込み締切後7日以降：返金不可</li>
                                                <li>方法：ホームページ→[サポートセンター]→[資料センター] → <br>[受験料の払い戻し申請書]をダウンロードし、作成後メールにて申請</li>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    

                <div class="col-md-4 sub">
                    <div class="brochure animated fadeInDown">
                        <a href="https://www.kref.or.jp/examination" target="_blank" rel="noopener noreferrer">TOPIK<br>公式サイト</a>
                    </div>
                    <div class="brochure animated fadeInDown" id="topik">
                        <a href="http://www.kets.or.kr/jpn/" target="_blank" rel="noopener noreferrer">KLAT<br>公式サイト</a>
                    </div>

                    <div class="list-materials">
                        <div class="list-title animated fadeInDown">各種試験概要</div>
                        <ul class="ichiran">
                            <li><a href="examination.html">TOPIK</a></li>
                            <li><a href="examination.html">KLAT</a></li>
                        </ul>
                    </div>

                    <div class="list-materials">
                        <div class="list-title animated fadeInDown">資料一覧</div>
                        <ul class="ichiran">
                            <li><a href="materials.html">TOPIK</a></li>
                            <li><a href="materials.html">KLAT</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <footer class="mb-4">
        <div class = "container">
            <div class = "row">
                <div class = "footer_contents col-md-12">
                    <div class="page-top" id="top-btn">
                        <p>Page top</p>
                    </div>
                    <div class="footer_nav">
                    <ul>
                        <li class = "nav-item"><a href="about.html" class = "nav-link">概要</a></li>
                        <li class = "nav-item"><a href="question.html" class = "nav-link">問題</a></li>
                        <li class = "nav-item"><a href="examination.html" class = "nav-link">試験について</a></li>
                        <li class = "nav-item"><a href="materials.html" class = "nav-link">参考資料</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
      </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../owlcarousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script type="text/javascript" src="../js/question_vue.js">
        
    </script>
</body>

</html>
