<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Koreanguage</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../../owlcarousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/animated.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
    <header class="mb-4">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a href="../../index.html"><img class="u-max-full-width navbar-brand" src="../../../images/Koreanguage_title.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon toggle_icon"></span>
            </button>
      
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class = "nav-item"><a href="about.html" class = "nav-link" style="margin-right: 20px;">About</a></li>
                    <li class = "nav-item"><a href="question.html" class = "nav-link" style="margin-right: 20px;">Questions</a></li>
                    <li class = "nav-item"><a href="examination.html" class = "nav-link" style="margin-right: 20px;">Examination</a></li>
                    <li class = "nav-item"><a href="materials.html" class = "nav-link" style="margin-right: 20px;">References</a></li>
                    <li class = "nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Language
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="intermediate_1.html">English</a>
                            <a class="dropdown-item" href="../../../korean/questions/intermediate_questions/intermediate_1.html">Korean</a>
                            <a class="dropdown-item" href="../../../japanese/questions/intermediate_questions/intermediate_1.html">japanese</a>
                          </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-8 main-contents_question_page">
                    <div id="app" class="row">
                        <div class = "col-md-12 main_question" v-if="!completed">
                            <div class="card">
                                <div class="card-body">
                                    <p class="badge badge-dark">Question {{ (questionIndex+1) }} </p>
                                    <br>
                                    <h4 class = "card-title">{{ currentQuestion.question_content }}</h4>
                                    <br>
                                    <h4 class="card-title">{{ currentQuestion.question }}</h4>
                                    <hr>
                                    <button
                                        type="button"
                                        class="btn btn-block"
                                        v-for="(answer,index) in currentQuestion.answers"
                                        @click="addAnswer(index)">{{ (index+1) }}. {{ answer }}</button>
                                </div>
                            </div>
                        </div>
                
                        <div class = "col-md-12 main_result" v-if="completed">
                            <div class="card">
                                <div class="card-body">
                                    <p class="badge badge-dark">Result</p>
                                    <div v-for="(question,index) in this.questions">
                                        <h4 class="card-title error_color">{{ question.question }}</h4>
                                        <span>{{ question.question_translation }}</span>
                                        <ul>
                                            <li v-for="answer_translation in question.answer_translations">{{ answer_translation }}</li>
                                        </ul>
                                        <span v-if="question.answer == answers[index]" id="correct">Correct<br>The answer is {{ question.answers[question.answer] }}</span>
                                        <span v-else id="incorrect">Incorrect<br>The answer is {{ question.answers[question.answer] }}</span>
                                        <br>
                                        <br>
                                        
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 sub">
                    <div class="brochure animated fadeInDown">
                        <a href="https://www.topik.go.kr/usr/cmm/index.do" target="_blank" rel="noopener noreferrer">TOPIK<br>Homepage</a>
                    </div>
                    <div class="brochure animated fadeInDown" id="topik">
                        <a href="http://www.kets.or.kr/eng/" target="_blank" rel="noopener noreferrer">KLAT<br>Homepage</a>
                    </div>

                    <div class="list-materials">
                        <div class="list-title animated fadeInDown">About each <br>examination</div>
                        <ul class="ichiran">
                            <li><a href="../../examination.html">TOPIK</a></li>
                            <li><a href="../../examination.html">KLAT</a></li>
                        </ul>
                    </div>

                    <div class="list-materials">
                        <div class="list-title animated fadeInDown">References</div>
                        <ul class="ichiran">
                            <li><a href="../../materials.html">TOPIK</a></li>
                            <li><a href="../../materials.html">KLAT</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <footer class="mb-4">
        <div class = "container">
            <div class = "row">
                <div class = "footer_contents col-md-12">
                    <div class="page-top" id="top-btn">
                        <p>Page top</p>
                    </div>
                    <div class="footer_nav">
                    <ul>
                        <li class = "nav-item"><a href="../../about.html" class = "nav-link">About</a></li>
                        <li class = "nav-item"><a href="../../question.html" class = "nav-link">Questions</a></li>
                        <li class = "nav-item"><a href="../../examination.html" class = "nav-link">Examination</a></li>
                        <li class = "nav-item"><a href="../../materials.html" class = "nav-link">References</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
      </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../../../owlcarousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../../../js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script>

        new Vue({
            el: '#app',
            data: {
                answers: [],
                questionIndex: 0,
                questions: [
                    {
                        question_content: '무엇에 대한 이야기입니까? 알맞은 것을 고르십시오.',
                        question: '다 같이 박자를 맞추면서 춤을 추면 더 채미있을 것 같네요.',
                        answers: [
                            '비서',
                            '음악',
                            '불꽃',
                            '서류'
                        ],
                        answer: 1,
                        question_translation: "It seems to be more interesting if we would dance to the rythm.",
                        answer_translations: [
                            '비서：secretary',
                            '음악：music',
                            '불꽃：spark',
                            '서류：document'
                        ]
                    },
                    {
                        question_content: '무엇에 대한 이야기입니까? 알맞은 것을 고르십시오.',
                        question: '평화의 상징으로 유명하고 저는 종아해요.',
                        answers: [
                            '비둘기',
                            '조상',
                            '용돈',
                            "총장"
                        ],
                        answer: 0,
                        question_translation: "I like it because it's famous for the symbol of peace.",
                        answer_translations: [
                            '비둘기：pigeon',
                            '조상：ancestor',
                            '용돈：pocket money',
                            "총장：chief, general"
                        ]
                    },
                    {
                        question_content: '(     )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '() 곤란한 게 있으면 저에게 바로 연락하세요',
                        answers: [
                            '간신히',
                            '설사',
                            '자세히',
                            '만일'
                        ],
                        answer: 3,
                        question_translation: "（）you get trobles, please contact me imediately.",
                        answer_translations: [
                            '간신히：narrowly',
                            '설사：even if',
                            '자세히：in detail',
                            '만일：if'
                        ]
                    },
                    {
                        question_content: '(        )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '그는 졸업생 대표로서 ()을 받았대요.',
                        answers: [
                            '강',
                            '땅',
                            '왕',
                            "상"
                        ],
                        answer: 3,
                        question_translation: "I heard he got a () as a representative of graduate.",
                        answer_translations: [
                            '강：river',
                            '땅：land',
                            '왕：king',
                            "상：award"
                        ]
                    },
                    {
                        question_content: '(        )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '너무 () 그런지 눈물이 났어요.',
                        answers: [
                            '거만해서',
                            '유식해서',
                            '유연해서',
                            "적당해서"
                        ],
                        answer: 2,
                        question_translation: "I was so () that tears rolled down.",
                        answer_translations: [
                            '거만해서：arrogant',
                            '억울해서：regretful',
                            '유연해서：flexible',
                            "적당해서：adequate"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '난 여고생 시절에 과학을 종아해졌다.언젠가 사람을 위한 대단한 걸 만들어보고 싶다.',
                        answers: [
                            '중학생 시절부터 과학을 좋아한다.',
                            '뭐가 있어도 과학자가 될 꿈은 포기 하지 않는다.',
                            '난 장례 도움이 되는 발명을 하고 싶다.',
                            "과학은 어렵지만 재미있다."
                        ],
                        answer: 2,
                        question_translation: "I took interest in science when I was a high school girl. I want to make something wonderful for people someday.",
                        answer_translations: [
                            "중학생 시절부터 과학을 좋아한다.：I've had an interest in science since I was in junior high school.",
                            "뭐가 있어도 과학자가 될 꿈은 포기 하지 않는다.：I'll never give up to become a scientist no matter what.",
                            '난 장례 사람의 도움이 될 발명을 하고 싶다.：I want to invent something to be useful for people in the future.',
                            "과학은 어렵지만 재미있다.：Science is difficult but fun."
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '사람이 많이 있는 앞에서 얘기하는 건 누구나 긴장된다. 표정이 딱딱해지고 말도 잘 안 나오는 게 있다.',
                        answers: [
                            '사람 앞에서는 표정은 무서워지지만 제대로 얘기할 수 있다.',
                            '사람 앞에서는 누구든지 떨린다.',
                            '사람 앞에서는 문제없이 얘기할 수 있어야 된다.',
                            "연습하면 누구나 잘 애기할 수 있게 될 것이다."
                        ],
                        answer: 1,
                        question_translation: "Everyone gets nervous to talk in front of a lot of people. The facial expression becomes stiff and we can't put into words well.",
                        answer_translations: [
                            '사람 앞에서는 표정은 무서워지지만 제대로 얘기할 수 있다.：We get stiff in front of people but can talk well.',
                            '사람 앞에서는 누구든지 떨린다.：Everyone gets nervous in front of people.',
                            '사람 앞에서는 문제없이 얘기할 수 있어야 된다.：We must be able to talk well in front of people.',
                            "연습하면 누구나 잘 애기할 수 있게 될 것이다.：If you practice, no one won't be able to speak well."
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '맨날 땀을 흘리면서 노력하면 꿈은 이루어질 거예요.',
                        answers: [
                            '꿈을 이루기 위해서는 많이 노력해야 해요.',
                            '땀이 많이 나오면 꿈이 이루어질 거예요.',
                            '꿈을 이루기 위해서는 땀이 중요한다.',
                            "노력해도 할 수 없는 것도 있다."
                        ],
                        answer: 0,
                        question_translation: "If you work hard every day, your dream will come true.",
                        answer_translations: [
                            '꿈을 이루기 위해서는 많이 노력해야 해요.：You have to work hard so that your dream comes true.',
                            '땀이 많이 나오면 꿈이 이루어질 거예요.：If you sweat a lot, your dreams will come true.',
                            '꿈을 이루기 위해서는 땀이 중요한다.：Sweat is important to make your dream come true.',
                            "노력해도 할 수 없는 것도 있다.：There are something you can't do even if you make an effort."
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '인생에서는 여러가지 자기자신으로 뭔가 마음을 먹어야 될 때가 있다',
                        answers: [
                            '인생에서는 여러가지 상담을 해야 할 것도 있다.',
                            '인생에서는 걱정되는 게 많이 있다.',
                            '인생에서는 해내야 할 것도 많이 있다.',
                            "인생에서는 혼자서 정해야 할 것도 있다."
                        ],
                        answer: 3,
                        question_translation: "There are many things in life that you have to make your own decisions.",
                        answer_translations: [
                            '인생에서는 여러가지 상담을 해야 할 것도 있다.：There are many things in life that you have to consult.',
                            '인생에서는 걱정되는 게 많이 있다.：There are many things in life that you will become worried.',
                            '인생에서는 해내야 할 것도 많이 있다.：There are many things in life that you have to make an achieve.',
                            "인생에서는 혼자서 정해야 할 것도 있다.：There are many things in life that you have to decide in yourself."
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '우리 아들이 마음을 잡은 듯이 집안일을 도와 주기 시작했어요.',
                        answers: [
                            '우리 아들은 좀 전까지는 아무것도 도와 주지 않았어요.',
                            '우리 아들은 부탁하면 집안을 도와 줘요.',
                            '우리 아들은 마음을 담고 집안을 도와 줬어요.',
                            "우리 아들은 착해서 항상 집안을 도와 줘요."
                        ],
                        answer: 0,
                        question_translation: "My son started helping with houseworks as if he had changed his mind",
                        answer_translations: [
                            "우리 아들은 좀 전까지는 아무것도 도와 주지 않았어요.：My son didn't help me anything until a while ago.",
                            '우리 아들은 부탁하면 집안을 도와 줘요.：My son will help me with houseworks if I ask him.',
                            '우리 아들은 마음을 담고 집안을 도와 줬어요.：My son wholeheartedly helped with houseworks.',
                            "우리 아들은 착해서 항상 집안을 도와 줘요.：My son is kind and always help with houseworks."
                        ]
                    }
                ]
            },
            methods: {
                addAnswer: function(index) {

                    this.answers.push(index);

                    if(!this.completed) {

                        this.questionIndex++;

                    }

                }
            },
            computed: {
                currentQuestion: function() {

                    return this.questions[this.questionIndex];

                },
                completed: function() {

                    return (this.questions.length == this.answers.length);

                }
            }
        })

    </script>
</body>

</html>
