<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Koreanguage</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../../owlcarousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/animated.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
    <header class="mb-4">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a href="../../index.html"><img class="u-max-full-width navbar-brand" src="../../../images/Koreanguage_title.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon toggle_icon"></span>
            </button>
      
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class = "nav-item"><a href="../../about.html" class = "nav-link">概要</a></li>
                    <li class = "nav-item"><a href="../../question.html" class = "nav-link">問題</a></li>
                    <li class = "nav-item"><a href="../../examination.html" class = "nav-link">試験について</a></li>
                    <li class = "nav-item"><a href="../../materials.html" class = "nav-link">参考資料</a></li>
                    <li class = "nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            言語選択
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">英語</a>
                            <a class="dropdown-item" href="#">韓国語</a>
                            <a class="dropdown-item" href="#">日本語</a>
                          </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-8 main-contents_question_page">
                    <div id="app" class="row">
                        <div class = "col-md-12 main_question" v-if="!completed">
                            <div class="card">
                                <div class="card-body">
                                    <p class="badge badge-dark">第 {{ (questionIndex+1) }} 問</p>
                                    <br>
                                    <h4 class = "card-title">{{ currentQuestion.question_content }}</h4>
                                    <br>
                                    <h4 class="card-title">{{ currentQuestion.question }}</h4>
                                    <hr>
                                    <button
                                        type="button"
                                        class="btn btn-block"
                                        v-for="(answer,index) in currentQuestion.answers"
                                        @click="addAnswer(index)">{{ (index+1) }}. {{ answer }}</button>
                                </div>
                            </div>
                        </div>
                
                        <div class = "col-md-12 main_result" v-if="completed">
                            <div class="card">
                                <div class="card-body">
                                    <p class="badge badge-dark">結果</p>
                                    <div v-for="(question,index) in this.questions">
                                        <h4 class="card-title error_color">{{ question.question }}</h4>
                                        <span>{{ question.question_translation }}</span>
                                        <ul>
                                            <li v-for="answer_translation in question.answer_translations">{{ answer_translation }}</li>
                                        </ul>
                                        <span v-if="question.answer == answers[index]" id="correct">正解です<br>正解は{{ question.answers[question.answer] }}です。</span>
                                        <span v-else id="incorrect">不正解<br>正解は{{ question.answers[question.answer] }}です。</span>
                                        <br>
                                        <br>
                                        
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 sub">
                    <div class="brochure animated fadeInDown">
                        <a href="https://www.kref.or.jp/examination" target="_blank" rel="noopener noreferrer">TOPIK<br>公式サイト</a>
                    </div>
                    <div class="brochure animated fadeInDown" id="topik">
                        <a href="http://www.kets.or.kr/jpn/" target="_blank" rel="noopener noreferrer">KLAT<br>公式サイト</a>
                    </div>

                    <div class="list-materials">
                        <div class="list-title animated fadeInDown">各種試験概要</div>
                        <ul class="ichiran">
                            <li><a href="../../examination.html">TOPIK</a></li>
                            <li><a href="../../examination.html">KLAT</a></li>
                        </ul>
                    </div>

                    <div class="list-materials">
                        <div class="list-title animated fadeInDown">資料一覧</div>
                        <ul class="ichiran">
                            <li><a href="../../materials.html">TOPIK</a></li>
                            <li><a href="../../materials.html">KLAT</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <footer class="mb-4">
        <div class = "container">
            <div class = "row">
                <div class = "footer_contents col-md-12">
                    <div class="page-top" id="top-btn">
                        <img class="u-max-full-width" src="../../../images/pagetop.png" alt="">
                    </div>
                    <div class="footer_nav">
                    <ul>
                        <li class = "nav-item"><a href="../../about.html" class = "nav-link">概要</a></li>
                        <li class = "nav-item"><a href="../../question.html" class = "nav-link">問題</a></li>
                        <li class = "nav-item"><a href="../../examination.html" class = "nav-link">試験について</a></li>
                        <li class = "nav-item"><a href="../../materials.html" class = "nav-link">参考資料</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
      </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../../../owlcarousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../../../js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script>

        new Vue({
            el: '#app',
            data: {
                answers: [],
                questionIndex: 0,
                questions: [
                    {
                        question_content: '무엇에 대한 이야기입니까? 알맞은 것을 고르십시오.',
                        question: '다 같이 박자를 맞추면서 춤을 추면 더 채미있을 것 같네요.',
                        answers: [
                            '비서',
                            '음악',
                            '불꽃',
                            '서류'
                        ],
                        answer: 1,
                        question_translation: "みんなで一緒にリズムを合わせながら、ダンスをしたらもっと楽しそうですね。",
                        answer_translations: [
                            '비서：秘書',
                            '음악：音楽',
                            '불꽃：火花',
                            '서류：書類'
                        ]
                    },
                    {
                        question_content: '무엇에 대한 이야기입니까? 알맞은 것을 고르십시오.',
                        question: '평화의 상징으로 유명하고 저는 종아해요.',
                        answers: [
                            '비둘기',
                            '조상',
                            '용돈',
                            "총장"
                        ],
                        answer: 0,
                        question_translation: "平和の象徴として有名で私は好きです。。",
                        answer_translations: [
                            '비둘기：ハト',
                            '조상：先祖',
                            '용돈：お小遣い',
                            "총장：総長"
                        ]
                    },
                    {
                        question_content: '(     )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '() 곤란한 게 있으면 저에게 바로 연락하세요',
                        answers: [
                            '간신히',
                            '설사',
                            '자세히',
                            '만일'
                        ],
                        answer: 3,
                        question_translation: "（）困ったことがあれば、すぐに私にに連絡してくださいね",
                        answer_translations: [
                            '간신히：辛うじて',
                            '설사：仮に、例え',
                            '자세히：詳しく',
                            '만일：万一、もしも'
                        ]
                    },
                    {
                        question_content: '(        )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '그는 졸업생 대표로서 ()을 받았대요.',
                        answers: [
                            '강',
                            '땅',
                            '왕',
                            "상"
                        ],
                        answer: 3,
                        question_translation: "彼は卒業生代表として（）をもらったそうですよ",
                        answer_translations: [
                            '강：川',
                            '땅：土地',
                            '왕：王',
                            "상：賞"
                        ]
                    },
                    {
                        question_content: '(        )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '너무 () 그런지 눈물이 났어요.',
                        answers: [
                            '거만해서',
                            '유식해서',
                            '유연해서',
                            "적당해서"
                        ],
                        answer: 2,
                        question_translation: "あまりにも（）だからか、涙が出ました。",
                        answer_translations: [
                            '거만해서：傲慢で',
                            '억울해서：悔しくて',
                            '유연해서：柔軟で',
                            "적당해서：適当で"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '난 여고생 시절에 과학을 종아해졌다.언젠가 사람을 위한 대단한 걸 만들어보고 싶다.',
                        answers: [
                            '중학생 시절부터 과학을 좋아한다.',
                            '뭐가 있어도 과학자가 될 꿈은 포기 하지 않는다.',
                            '난 장례 도움이 되는 발명을 하고 싶다.',
                            "과학은 어렵지만 재미있다."
                        ],
                        answer: 2,
                        question_translation: "私は女子高生の頃に科学が好きになった。いつか人のための素晴らしいものを作ってみたい。",
                        answer_translations: [
                            '중학생 시절부터 과학을 좋아한다.：中学生の頃から科学が好きだ',
                            '뭐가 있어도 과학자가 될 꿈은 포기 하지 않는다.：何があっても科学者になるという夢はあきらめない',
                            '난 장례 사람의 도움이 될 발명을 하고 싶다.：私は将来人の役に立つ発明をしたい。',
                            "과학은 어렵지만 재미있다.：科学は難しいが、楽しい。"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '사람이 많이 있는 앞에서 얘기하는 건 누구나 긴장된다. 표정이 딱딱해지고 말도 잘 안 나오는 게 있다.',
                        answers: [
                            '사람 앞에서는 표정은 무서워지지만 제대로 얘기할 수 있다.',
                            '사람 앞에서는 누구든지 떨린다.',
                            '사람 앞에서는 문제없이 얘기할 수 있어야 된다.',
                            "연습하면 누구나 잘 애기할 수 있게 될 것이다."
                        ],
                        answer: 1,
                        question_translation: "人がたくさんいる前で話をすることは誰でも緊張する。表情が硬くなり、言葉もうまく出ないことがある。",
                        answer_translations: [
                            '사람 앞에서는 표정은 무서워지지만 제대로 얘기할 수 있다.：人前では表情が表情が怖くなるが、ちゃんと話すことができる。',
                            '사람 앞에서는 누구든지 떨린다.：人前では誰でも緊張する。',
                            '사람 앞에서는 문제없이 얘기할 수 있어야 된다.：人前では問題なく話すことができなければならない。',
                            "연습하면 누구나 잘 애기할 수 있게 될 것이다.：練習すればだれでもうまく話せるようになる。"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '맨날 땀을 흘리면서 노력하면 꿈은 이루어질 거예요.',
                        answers: [
                            '꿈을 이루기 위해서는 많이 노력해야 해요.',
                            '땀이 많이 나오면 꿈이 이루어질 거예요.',
                            '꿈을 이루기 위해서는 땀이 중요한다.',
                            "노력해도 할 수 없는 것도 있다."
                        ],
                        answer: 0,
                        question_translation: "毎日汗を流しながら努力すれば、夢は叶うだろう。",
                        answer_translations: [
                            '꿈을 이루기 위해서는 많이 노력해야 해요.：夢を叶う得るためにはたくさん努力をしなければならない。',
                            '땀이 많이 나오면 꿈이 이루어질 거예요.：汗がたくさん出れば、夢はかなうだろう。',
                            '꿈을 이루기 위해서는 땀이 중요한다.：夢を叶えるためには、汗が重要だ。',
                            "노력해도 할 수 없는 것도 있다.：努力してもできなこともある。"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '인생에서는 여러가지 자기자신으로 뭔가 마음을 먹어야 될 때가 있다',
                        answers: [
                            '인생에서는 여러가지 상담을 해야 할 것도 있다.',
                            '인생에서는 걱정되는 게 많이 있다.',
                            '인생에서는 해내야 할 것도 많이 있다.',
                            "인생에서는 혼자서 정해야 할 것도 있다."
                        ],
                        answer: 3,
                        question_translation: "人生においては、色々自分自身で決心しなければいけないことがある。",
                        answer_translations: [
                            '인생에서는 여러가지 상담을 해야 할 것도 있다.：人生においては、色々相談をしなければならないこともある。',
                            '인생에서는 걱정되는 게 많이 있다.：人生においては、心配になることがたくさんある。',
                            '인생에서는 해내야 할 것도 많이 있다.：人生においては成し遂げなければならないこともたくさんある。',
                            "인생에서는 혼자서 정해야 할 것도 있다.：人生においては一人で決めなければならないこともある。"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '우리 아들이 마음을 잡은 듯이 집안일을 도와 주기 시작했어요.',
                        answers: [
                            '우리 아들은 좀 전까지는 아무것도 도와 주지 않았어요.',
                            '우리 아들은 부탁하면 집안을 도와 줘요.',
                            '우리 아들은 마음을 담고 집안을 도와 줬어요.',
                            "우리 아들은 착해서 항상 집안을 도와 줘요."
                        ],
                        answer: 0,
                        question_translation: "息子は、心を入れ替えたように家事を手伝ってくれ始めました",
                        answer_translations: [
                            '우리 아들은 좀 전까지는 아무것도 도와 주지 않았어요.：息子は、ちょっと前までは何も手伝ってくれませんでした。',
                            '우리 아들은 부탁하면 집안을 도와 줘요.：息子は、お願いをすれば家事を手伝ってくれます。',
                            '우리 아들은 마음을 담고 집안을 도와 줬어요.：息子は、心を込めて家事を手伝ってくれました。',
                            "우리 아들은 착해서 항상 집안을 도와 줘요.：息子は、親切でいつも家事を手伝ってくれます。"
                        ]
                    }
                ]
            },
            methods: {
                addAnswer: function(index) {

                    this.answers.push(index);

                    if(!this.completed) {

                        this.questionIndex++;

                    }

                }
            },
            computed: {
                currentQuestion: function() {

                    return this.questions[this.questionIndex];

                },
                completed: function() {

                    return (this.questions.length == this.answers.length);

                }
            }
        })

    </script>
</body>

</html>
