<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Koreanguage</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../../owlcarousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/animated.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
    <header class="mb-4">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a href="../../japanese_toppage.html"><img class="u-max-full-width navbar-brand" src="../../../images/Koreanguage_title.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon toggle_icon"></span>
            </button>
      
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class = "nav-item"><a href="../../about.html" class = "nav-link">概要</a></li>
                    <li class = "nav-item"><a href="../../question.html" class = "nav-link">問題</a></li>
                    <li class = "nav-item"><a href="../../examination.html" class = "nav-link">試験について</a></li>
                    <li class = "nav-item"><a href="../../materials.html" class = "nav-link">参考資料</a></li>
                    <li class = "nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            言語選択
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../../../english/questions/intermediate_questions/intermediate_3.html">英語</a>
                            <a class="dropdown-item" href="../../../korean/questions/intermediate_questions/intermediate_3.html">韓国語</a>
                            <a class="dropdown-item" href="intermediate_3.html">日本語</a>
                          </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="main-contents_question_page">
            <div id="app" class="row">
                <div class = "col-md-12 main_question" v-if="!completed">
                    <div class="card">
                        <div class="card-body">
                            <p class="badge badge-dark">問題 {{ (questionIndex+1) }} </p>
                            <br>
                            <h4 class = "card-title">{{ currentQuestion.question_content }}</h4>
                            <br>
                            <h4 class="card-title">{{ currentQuestion.question }}</h4>
                            <br>
                            <button
                                type="button"
                                class="btn btn-block"
                                v-for="(answer,index) in currentQuestion.answers"
                                @click="addAnswer(index)">{{ (index+1) }}. {{ answer }}</button>
                        </div>
                    </div>
                </div>
        
                <div class = "col-md-12 main_result" v-if="completed">
                    <div class="card">
                        <div class="card-body">
                            <p class="badge badge-dark result_tag">結果</p>
                            <div v-for="(question,index) in this.questions">
                                <h4 class="card-title error_color">{{ question.question }}</h4>
                                <span>{{ question.question_translation }}</span>
                                <ul>
                                    <li v-for="answer_translation in question.answer_translations">{{ answer_translation }}</li>
                                </ul>
                                <div v-if="question.answer == answers[index]" id="correct"><span>正解です。</span><br><span>正解は {{ question.answers[question.answer] }}です。</span></div>
                                <div v-else id="incorrect"><span>不正解です。</span><br><span>正解は {{ question.answers[question.answer] }}です。</span></div>
                                <br>
                                <br>
                                
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="mb-4">
        <div class = "container">
            <div class = "row">
                <div class = "footer_contents col-md-12">
                    <div class="page-top" id="top-btn">
                        <p>Page top</p>
                    </div>
                    <div class="footer_nav">
                    <ul>
                        <li class = "nav-item"><a href="../../about.html" class = "nav-link">概要</a></li>
                        <li class = "nav-item"><a href="../../question.html" class = "nav-link">問題</a></li>
                        <li class = "nav-item"><a href="../../examination.html" class = "nav-link">試験について</a></li>
                        <li class = "nav-item"><a href="../../materials.html" class = "nav-link">参考資料</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
      </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../../../owlcarousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../../../js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script>

        new Vue({
            el: '#app',
            data: {
                answers: [],
                questionIndex: 0,
                questions: [
                    {
                        question_content: '무엇에 대한 이야기입니까? 알맞은 것을 고르십시오.',
                        question: '어른이 모여서 국가 장래에 관한 것에 토론해요',
                        answers: [
                            '농업',
                            '정치',
                            '형태',
                            '특징'
                        ],
                        answer: 1,
                        question_translation: "大人が集まって、国家の将来に関することを討論します。",
                        answer_translations: [
                            '농업：農業',
                            '정치：政治',
                            '형태：形',
                            '특징：特徴'
                        ]
                    },
                    {
                        question_content: '무엇에 대한 이야기입니까? 알맞은 것을 고르십시오.',
                        question: '겨울에는 필수품이라고 해도 과언이 않을 정도 필요한 것이다.',
                        answers: [
                            '냉장고',
                            '난로',
                            '냉방',
                            "절전"
                        ],
                        answer: 1,
                        question_translation: "冬には必需品と言っても過言では位ほど必要なものだ。",
                        answer_translations: [
                            '냉장고：冷蔵庫',
                            '난로：暖炉',
                            '냉방：冷房',
                            "절전：節電"
                        ]
                    },
                    {
                        question_content: '(     )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '사람 앞에서 이야기를 할 때 항상 ().',
                        answers: [
                            '표현이 올발라요',
                            '표가 많아요',
                            '표시가 중요해요',
                            '표정이 굳어져요'
                        ],
                        answer: 3,
                        question_translation: "人の前で話をするとき、いつも（）。",
                        answer_translations: [
                            '표현이 올발라요：表現が正しいです',
                            '표가 많아요：票が多いです',
                            '표시가 중요해요：表示が重要です',
                            '표정이 굳어져요：表情が硬くなります'
                        ]
                    },
                    {
                        question_content: '(        )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '하루 종일 할 일이 많이 있어서 ().',
                        answers: [
                            '정신이 없었어요',
                            '정신이 들었어요',
                            '정신을 차렸어요',
                            "정신이 강했어요"
                        ],
                        answer: 0,
                        question_translation: "一日中することがたくさんあって（）。",
                        answer_translations: [
                            '정신이 없었어요：気が気じゃなかったです',
                            '정신이 들었어요：意識を取り戻しました',
                            '정신을 차렸어요：しっかりしました',
                            "정신이 강했어요：精神が強かったです"
                        ]
                    },
                    {
                        question_content: '(        )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '뭔가 () 있으면 저한테 물어보세요.',
                        answers: [
                            '시간이 걸리는 게',
                            '시동이 걸리는 게',
                            '마음에 걸리는 게',
                            "벽에 걸리는 게"
                        ],
                        answer: 2,
                        question_translation: "何か（）があれば、私に聞いてください。",
                        answer_translations: [
                            '시간이 걸리는 게：時間がかかることが',
                            '시동이 걸리는 게：エンジンがかかることが',
                            "마음에 걸리는 게：気にかかるようなことが",
                            "벽에 걸리는 게：壁にかかることが"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '거의 학생들은 하교에 인접하는 기숙사에서 친구하고 같이 살아요.',
                        answers: [
                            '고향을 떠나는 것은 누구든지 외로운 법이다.',
                            '누구든지 언젠가는 정신적으로도 독립해야 되기 마련이다.',
                            '수많은 학생들이 고향을 떠나서 공동 생활을 보내고 있다.',
                            "고향을 떠나서 친구하고 같이 사는 것은 두근두근하기 마련이다."
                        ],
                        answer: 2,
                        question_translation: "殆どの学生は学校に隣接している寮で友だちと一緒に住んでいます。",
                        answer_translations: [
                            "고향을 떠나는 것은 누구든지 외로운 법이다.：故郷を離れることは誰でも寂しいものだ。",
                            '누구든지 언젠가는 정신적으로도 독립해야 되기 마련이다.：誰でもいつかは精神的に独立しなければならないものだ。',
                            '수많은 학생들이 고향을 떠나서 공동 생활을 보내고 있다.：数多くの学生が故郷を離れて共同生活を送っている。',
                            "고향을 떠나서 친구하고 같이 사는 것은 두근두근하기 마련이다.：故郷を離れて友だちと一緒に住むことはドキドキする。"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '사람이라는 것은 좌절을 겪어야 성장할 수 있는 게 않을까.',
                        answers: [
                            '사람은 수많은 실패를 하고 나서 비로소 성장 할 수 있다.',
                            '좌절을 겪고 싶지 않으면 문제가 발생하기전에 대응해야 한다.',
                            '좌절을 경험하기로서니 성장할 수 없을 때도 있다.',
                            "사람은 실패를 해도 영 성장할 수 없기 마련이다."
                        ],
                        answer: 0,
                        question_translation: "人というものは、挫折を経験してこそ成長できものではないだろうか。",
                        answer_translations: [
                            '사람은 수많은 실패를 하고 나서 비로소 성장 할 수 있다.：人は数多くの失敗をしてこそ初めて成長できる。',
                            "좌절을 겪고 싶지 않으면 문제가 발생하기전에 대응해야 한다.：挫折を経験したくなければ、問題が発生する前に対応しなければならない。",
                            "좌절을 경험하기로서니 성장할 수 없을 때도 있다.：挫折を経験したと言っても、成長できない時もある。",
                            "사람은 실패를 해도 영 성장할 수 없기 마련이다.：人は失敗をしても全く成長できなものだ。"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '해외에서 새로 농산물을 수입할까 하는데 해야 되는 일이 많이 있더라고요...',
                        answers: [
                            '외국에서 수입하려고 했지만 좋은 거래처를 찾을 수 없었다.',
                            '외국에서 수입하려고 하면 까다로운 철자를 밟아야 한다.',
                            '해외에서 수입할 때는 안전성에 배려해야 한다.',
                            "해외에서 수입할까 하는데 사장님이 허가를 주시지 않았다."
                        ],
                        answer: 1,
                        question_translation: "海外から新しく農産物を輸入しようかと思っているんですが、しないといけないことがたくさんあるんですよ。",
                        answer_translations: [
                            "외국에서 수입하려고 했지만 좋은 거래처를 찾을 수 없었다.：外国から輸入しようとしましたが、良い取引先が見つからなかった。",
                            "외국에서 수입하려고 하면 까다로운 철자를 밟아야 한다.：外国から輸入しようとすると手間のかかる手続きを踏まなければならない。",
                            '해외에서 수입할 때는 안전성에 배려해야 한다.：海外から輸入するときは、安全性に配慮しなければならない。',
                            "해외에서 수입할까 하는데 사장님이 허가를 주시지 않았다.：海外から輸入しようかなと思っているが、社長が許可を下さらない。"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '그는 미래 대통령으로써 이 나라에서는 유명한 존재다.',
                        answers: [
                            '그는 언젠가 대통령이 되고 싶다고 하지만 확실하지 않다.',
                            '그는 어린 시절부터 대통령이 되기를 바라고 있다.',
                            '그는 언젠가 대통령이 될까 염려하고 있다.',
                            "그는 이 국가의 장래 대통령이라고 불리고 있을 정도의 존재다."
                        ],
                        answer: 3,
                        question_translation: "彼は未来の大統領としてこの国では有名な存在だ。",
                        answer_translations: [
                            "그는 언젠가 대통령이 되고 싶다고 하지만 확실하지 않다.：彼はいつか大統領になりたいと言っているがまだわからない。",
                            "그는 어린 시절부터 대통령이 되기를 바라고 있다.：彼は幼い時から大統領になることを夢見ている。",
                            "그는 언젠가 대통령이 될까 염려하고 있다.：彼はいつか大統領になるのではないかと懸念している。",
                            "그는 이 국가의 장래 대통령이라고 불리고 있을 정도의 존재다.：彼はこの国家の将来のだいとうりょうと呼ばれているほどの存在だ。"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '그녀는 이 분야에서는 수많은 수상 경력이 있다.',
                        answers: [
                            '그녀는 앞으로 수많은 상을 받을 수 있도록 노력하고 있다.',
                            '그녀는 지금까지 많은 전문적인 상을 받았다.',
                            '그녀는 많은 상을 받았지만 관심을 보지 않았다.',
                            "그녀는 노력 끝에 겨우 하나 상을 받았다."
                        ],
                        answer: 2,
                        question_translation: "彼女はこの分野では数多くの受賞経歴がある。",
                        answer_translations: [
                            '그녀는 앞으로 수많은 상을 받을 수 있도록 노력하고 있다.：彼女はこれから数多くの賞をもらえるように努力している。',
                            "그녀는 지금까지 많은 전문적인 상을 받았다.：彼女は今まで多くの専門的な賞をもらった。",
                            "그녀는 많은 상을 받았지만 관심을 보지 않았다.：彼女は多くの賞をもらったが、関心を示さなかった。",
                            "그녀는 노력 끝에 겨우 하나 상을 받았다.：彼女は努力の末にようやく一つ賞をもらった。"
                        ]
                    }
                ]
            },
            methods: {
                addAnswer: function(index) {

                    this.answers.push(index);

                    if(!this.completed) {

                        this.questionIndex++;

                    }

                }
            },
            computed: {
                currentQuestion: function() {

                    return this.questions[this.questionIndex];

                },
                completed: function() {

                    return (this.questions.length == this.answers.length);

                }
            }
        })

    </script>
</body>

</html>
