<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Koreanguage</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../../owlcarousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/animated.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
    <header class="mb-4">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a href="../../japanese_toppage.html"><img class="u-max-full-width navbar-brand" src="../../../images/Koreanguage_title.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon toggle_icon"></span>
            </button>
      
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class = "nav-item"><a href="../../about.html" class = "nav-link">概要</a></li>
                    <li class = "nav-item"><a href="../../question.html" class = "nav-link">問題</a></li>
                    <li class = "nav-item"><a href="../../examination.html" class = "nav-link">試験について</a></li>
                    <li class = "nav-item"><a href="../../materials.html" class = "nav-link">参考資料</a></li>
                    <li class = "nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            言語選択
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../../../english/questions/upper_questions/upper_1.html">英語</a>
                            <a class="dropdown-item" href="../../../korean/questions/upper_questions/upper_1.html">韓国語</a>
                            <a class="dropdown-item" href="upper_1.html">日本語</a>
                          </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="main-contents_question_page">
            <div id="app" class="row">
                <div class = "col-md-12 main_question" v-if="!completed">
                    <div class="card">
                        <div class="card-body">
                            <p class="badge badge-dark">問題 {{ (questionIndex+1) }} </p>
                            <br>
                            <h4 class = "card-title">{{ currentQuestion.question_content }}</h4>
                            <br>
                            <h4 class="card-title">{{ currentQuestion.question }}</h4>
                            <br>
                            <button
                                type="button"
                                class="btn btn-block"
                                v-for="(answer,index) in currentQuestion.answers"
                                @click="addAnswer(index)">{{ (index+1) }}. {{ answer }}</button>
                        </div>
                    </div>
                </div>
        
                <div class = "col-md-12 main_result" v-if="completed">
                    <div class="card">
                        <div class="card-body">
                            <p class="badge badge-dark result_tag">結果</p>
                            <div v-for="(question,index) in this.questions">
                                <h4 class="card-title error_color">{{ question.question }}</h4>
                                <span>{{ question.question_translation }}</span>
                                <ul>
                                    <li v-for="answer_translation in question.answer_translations">{{ answer_translation }}</li>
                                </ul>
                                <div v-if="question.answer == answers[index]" id="correct"><span>正解です。</span><br><span>正解は {{ question.answers[question.answer] }}です。</span></div>
                                <div v-else id="incorrect"><span>不正解です。</span><br><span>正解は {{ question.answers[question.answer] }}です。</span></div>
                                <br>
                                <br>
                                
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="mb-4">
        <div class = "container">
            <div class = "row">
                <div class = "footer_contents col-md-12">
                    <div class="page-top" id="top-btn">
                        <p>Page top</p>
                    </div>
                    <div class="footer_nav">
                    <ul>
                        <li class = "nav-item"><a href="../../about.html" class = "nav-link">概要</a></li>
                        <li class = "nav-item"><a href="../../question.html" class = "nav-link">問題</a></li>
                        <li class = "nav-item"><a href="../../examination.html" class = "nav-link">試験について</a></li>
                        <li class = "nav-item"><a href="../../materials.html" class = "nav-link">参考資料</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
      </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../../../owlcarousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../../../js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script>

        var b = new Vue({
            el: '#app',
            data: {
                answers: [],
                questionIndex: 0,
                questions: [
                    {
                        question_content: '무엇에 대한 것인지 알맞은 것을 고르십시오.',
                        question: '달콤한 말과 이로운 조건을 내세워 남을 꾀는 말.',
                        answers: [
                            '구사일생',
                            '기진맥진',
                            '감언이설',
                            '과대망상'
                        ],
                        answer: 2,
                        question_translation: "甘い言葉と有益な条件を掲げた言葉",
                        answer_translations: [
                            '구사일생：九死に一生',
                            '기진맥진：へとへと',
                            '감언이설：口車',
                            '과대망상：過大妄想'
                        ]
                    },
                    {
                        question_content: '무엇에 대한 이야기입니까? 알맞은 것을 고르십시오.',
                        question: '물건을 보면 갖고 싶은 욕심이 생기다는 말',
                        answers: [
                            '명불허전',
                            '견물생심',
                            '무사안일',
                            "백년대계"
                        ],
                        answer: 1,
                        question_translation: "物を見ると欲しいという欲がうまれるという言葉",
                        answer_translations: [
                            '명불허전：さすが',
                            '견물생심：物を見るとよくが湧いてくること（見物生心）',
                            '무사안일：事なかれ主義',
                            "백년대계：百年の大計"
                        ]
                    },
                    {
                        question_content: '(     )에 들어갈 가장 알맞은 것을 고르십시오.',
                        question: '아파트를 건설할 계획에 대해 재검토를 하도록 ()에 나섰다.',
                        answers: [
                            '도랑',
                            '촉구',
                            '고비',
                            '밑천'
                        ],
                        answer: 1,
                        question_translation: "アパートを建設する計画について再検討をするよう（）に乗り出した。",
                        answer_translations: [
                            '도랑：溝',
                            '촉구：催促',
                            '고비：やま場',
                            '밑천：元手'
                        ]
                    },
                    {
                        question_content: '(        )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '어머니는 바지의 ()를/을 늘려 주셨다.',
                        answers: [
                            '주름',
                            '기장',
                            '기름',
                            "재봉틀"
                        ],
                        answer: 1,
                        question_translation: "母は、ズボンの（）を伸ばしてくれた",
                        answer_translations: [
                            '주름：しわ',
                            '기장：丈',
                            '기름：油',
                            "재봉틀：ミシン"
                        ]
                    },
                    {
                        question_content: '(        )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '도내에서 특정 외국인을 () 목적의 시위가 열리고 있다.',
                        answers: [
                            '배척하는',
                            '추정하는',
                            '출범하는',
                            "격추하는"
                        ],
                        answer: 0,
                        question_translation: "都内では特定の外国人を排斥する目的のデモが開かれている",
                        answer_translations: [
                            '배척하는：排斥する',
                            '추정하는：推定する',
                            '출범하는：発足する',
                            "격추하는：撃墜する"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '관심은 없다고 할 때는 언제고 이제는 죽고 못 산다고 난리다.',
                        answers: [
                            '항상 죽고 싶다고 한다.',
                            '최근 그녀에 조금만 관심을 가지게 되었다.',
                            '그녀에 대한 관심은 예나 지금이나 아무것도 안 변했다.',
                            "그녀를 너무너무 좋아해서 죽겠다."
                        ],
                        answer: 3,
                        question_translation: "興味がないと言っていたくせに今では、好きすぎてたまらないとうるさい。",
                        answer_translations: [
                            '항상 죽고 싶다고 한다.：いつも死にたいと言っている。',
                            '최근 그녀에 조금만 관심을 가지게 되었다.：最近彼女に少しだけ興味を持つようになった。',
                            '그녀에 대한 관심은 예나 지금이나 아무것도 안 변했다.：彼女に対する関心は今も昔も変わらない。',
                            "그녀를 너무너무 좋아해서 죽겠다.：彼女が好きすぎてどうしようもない。"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '말도 많고 탈도 많은 한 해였지만 지나고 보니 모두 즐거운 추억이었다.',
                        answers: [
                            '여러가지 있어서 바쁜 해였지만 후회는 없다.',
                            '정말 눈코 뜰 사이 없었지만 다 허사가 되였다.',
                            '올해는 말을 많이 타고 즐거운 한 해였다.',
                            "올해는 딱히 문제도 없고 평화적인 해였다."
                        ],
                        answer: 0,
                        question_translation: "色々とあった一年だったが、過ぎてみるとすべて楽しい思い出だった。",
                        answer_translations: [
                            '여러가지 있어서 바쁜 해였지만 후회는 없다.：いろいろとあって忙しかったが、後悔はない。',
                            '정말 눈코 뜰 사이 없었지만 다 허사가 되였다.：本当に忙しかったが、すべて無駄に終わった。',
                            '올해는 말을 많이 타고 즐거운 한 해였다.：今年は、馬にたくさん乗って楽しい一年だった。',
                            "올해는 딱히 문제도 없고 평화적인 해였다.：今年は、別に問題もなく、平和的な一年だった。"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '서울 올라가면 아버님께 종종 연락 드리게나. 자네가 걱정이 돼서 잠을 설치신다잖아.',
                        answers: [
                            '아버님은 잠을 설치시는 게 걱정이다 .',
                            '아버님이 걱정하시니까 서울에 도착한지 연락을 좀 할 작정이다.',
                            '아버님은 걱정하셔서 빈번히 연락을 주신다.',
                            "걱정도 많이 있었지만 다 해결되었다."
                        ],
                        answer: 1,
                        question_translation: "ソウルに言ったら、お父さんに時々連絡しなさいね。心配で夜も寝られないそうよ。",
                        answer_translations: [
                            '아버님은 잠을 설치시는 게 걱정이다 .：お父さんは寝られないことが心配だ。',
                            '아버님이 걱정하시니까 서울에 도착한지 연락을 좀 할 작정이다.：お父さんが心配しているから、ソウルに到着してから少し連絡するつもりだ。',
                            '아버님은 걱정하셔서 빈번히 연락을 주신다.：お父さんは心配して、頻繁に連絡をくれる。',
                            "걱정도 많이 있었지만 다 해결되었다.：心配もたくさんあったが、全て解決した。"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '학생들은 어릴 때부터 입시 경쟁에 내몰려 과도한 학업 스트레스에 시달리고 있다.',
                        answers: [
                            '학생들은 입시가 힘들어도 그 생활을 누린다.',
                            '학생들은 입시 경쟁을 껶고 정신적으로 성장할 수 있다.',
                            '학생들은 입시 경쟁을 통해 정신적으로 훨씬 강하다.',
                            "학생들은 학업에 대한 정신적인 고통을 받는다."
                        ],
                        answer: 3,
                        question_translation: "学生たちは若い時から入試競争に追われ、過度な学業のストレスに苦しんでいる。",
                        answer_translations: [
                            '학생들은 입시가 힘들어도 그 생활을 누린다.：学生たちは入試がしんどくても、その生活を楽しんでいる。',
                            '학생들은 입시 경쟁을 껶고 정신적으로 성장할 수 있다.：学生たちは、入試競争を経験して、精神的に成長することができる。',
                            '학생들은 입시 경쟁을 통해 정신적으로 훨씬 강하다.：学生たちは入試競争を通じて、精神的に遥かに強くなる。',
                            "학생들은 학업에 대한 정신적인 고통을 받는다.：学生たちは学業に対する精神的苦痛を受けている。"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '그는 만화라면 사족을 못 쓰는 만화광이다.',
                        answers: [
                            '그는 만화를 못 쓰는데 좋아한다.',
                            '그는 최근 만화에 빠졌다.',
                            '그는 만화는 영 읽지 않다.',
                            "그는 만화에 대해서는 둘째 가라면 서럽다."
                        ],
                        answer: 3,
                        question_translation: "彼は、マンガとなると目がないマンガマニアだ。",
                        answer_translations: [
                            '그는 만화를 못 쓰는데 좋아한다.：彼は、マンガは書けないが好きだ。',
                            '그는 최근 만화에 빠졌다.：彼は最近マンガにはまった。',
                            '그는 만화는 영 읽지 않다.：彼はマンガを全然読まない。',
                            "그는 만화에 대해서는 둘째 가라면 서럽다.：彼はマンガについて右に出る者はいない。"
                        ]
                    }
                ]
            },
            methods: {
                addAnswer: function(index){
                    this.answers.push(index);
                    if(!this.completed){
                        this.questionIndex++;
                    }
                }
            },
            computed: {
                currentQuestion: function(){
                    return this.questions[this.questionIndex];
                },
                completed: function() {
                    return (this.questions.length == this.answers.length);
                }
            }
        })

    </script>
</body>

</html>
