<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Koreanguage</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../../owlcarousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/animated.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
    <header class="mb-4">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a href="../../japanese_toppage.html"><img class="u-max-full-width navbar-brand" src="../../../images/Koreanguage_title.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon toggle_icon"></span>
            </button>
      
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class = "nav-item"><a href="../../about.html" class = "nav-link">概要</a></li>
                    <li class = "nav-item"><a href="../../question.html" class = "nav-link">問題</a></li>
                    <li class = "nav-item"><a href="../../examination.html" class = "nav-link">試験について</a></li>
                    <li class = "nav-item"><a href="../../materials.html" class = "nav-link">参考資料</a></li>
                    <li class = "nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            言語選択
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../../../english/questions/upper_questions/upper_4.html">英語</a>
                            <a class="dropdown-item" href="../../../korean/questions/upper_questions/upper_4.html">韓国語</a>
                            <a class="dropdown-item" href="upper_4.html">日本語</a>
                          </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-8 main-contents_question_page">
                    <div id="app" class="row">
                        <div class = "col-md-12 main_question" v-if="!completed">
                            <div class="card">
                                <div class="card-body">
                                    <p class="badge badge-dark">第 {{ (questionIndex+1) }} 問</p>
                                    <br>
                                    <h4 class = "card-title">{{ currentQuestion.question_content }}</h4>
                                    <br>
                                    <h4 class="card-title">{{ currentQuestion.question }}</h4>
                                    <hr>
                                    <button
                                        type="button"
                                        class="btn btn-block"
                                        v-for="(answer,index) in currentQuestion.answers"
                                        @click="addAnswer(index)">{{ (index+1) }}. {{ answer }}</button>
                                </div>
                            </div>
                        </div>
                
                        <div class = "col-md-12 main_result" v-if="completed">
                            <div class="card">
                                <div class="card-body">
                                    <p class="badge badge-dark">結果</p>
                                    <div v-for="(question,index) in this.questions">
                                        <h4 class="card-title error_color">{{ question.question }}</h4>
                                        <span>{{ question.question_translation }}</span>
                                        <ul>
                                            <li v-for="answer_translation in question.answer_translations">{{ answer_translation }}</li>
                                        </ul>
                                        <span v-if="question.answer == answers[index]" id="correct">正解です<br>正解は{{ question.answers[question.answer] }}です。</span>
                                        <span v-else id="incorrect">不正解<br>正解は{{ question.answers[question.answer] }}です。</span>
                                        <br>
                                        <br>
                                        
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 sub">
                    <div class="brochure animated fadeInDown">
                        <a href="https://www.kref.or.jp/examination" target="_blank" rel="noopener noreferrer">TOPIK<br>公式サイト</a>
                    </div>
                    <div class="brochure animated fadeInDown" id="topik">
                        <a href="http://www.kets.or.kr/jpn/" target="_blank" rel="noopener noreferrer">KLAT<br>公式サイト</a>
                    </div>

                    <div class="list-materials">
                        <div class="list-title animated fadeInDown">各種試験概要</div>
                        <ul class="ichiran">
                            <li><a href="../../examination.html">TOPIK</a></li>
                            <li><a href="../../examination.html">KLAT</a></li>
                        </ul>
                    </div>

                    <div class="list-materials">
                        <div class="list-title animated fadeInDown">資料一覧</div>
                        <ul class="ichiran">
                            <li><a href="../../materials.html">TOPIK</a></li>
                            <li><a href="../../materials.html">KLAT</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <footer class="mb-4">
        <div class = "container">
            <div class = "row">
                <div class = "footer_contents col-md-12">
                    <div class="page-top" id="top-btn">
                        <p>Page top</p>
                    </div>
                    <div class="footer_nav">
                    <ul>
                        <li class = "nav-item"><a href="../../about.html" class = "nav-link">概要</a></li>
                        <li class = "nav-item"><a href="../../question.html" class = "nav-link">問題</a></li>
                        <li class = "nav-item"><a href="../../examination.html" class = "nav-link">試験について</a></li>
                        <li class = "nav-item"><a href="../../materials.html" class = "nav-link">参考資料</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
      </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../../../owlcarousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../../../js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script>

        new Vue({
            el: '#app',
            data: {
                answers: [],
                questionIndex: 0,
                questions: [
                    {
                        question_content: '무엇에 대한 것인지 알맞은 것을 고르십시오.',
                        question: '은혜를 원수로 갚다니 ()도 유분수지',
                        answers: [
                            '막상막하',
                            '배은망덕',
                            '오합지졸',
                            '박리다매'
                        ],
                        answer: 1,
                        question_translation: "恩を仇で返すなんて、（）にもほどがある。",
                        answer_translations: [
                            '막상막하：五分五分',
                            '배은망덕：恩知らず',
                            '오합지졸：烏合の衆',
                            '박리다매：薄利多売'
                        ]
                    },
                    {
                        question_content: '무엇에 대한 이야기입니까? 알맞은 것을 고르십시오.',
                        question: '어떤 세상에 그런 ()한 애기를 믿고 계십니까?',
                        answers: [
                            '좌지우지',
                            '이열치열',
                            '호사다마',
                            "허무맹랑"
                        ],
                        answer: 3,
                        question_translation: "どうやったらそんな（）話を信じるんですか？",
                        answer_translations: [
                            '좌지우지：思うがままに操る',
                            '이열치열：熱をもって熱を制す',
                            '호사다마：好きなことをするときには邪魔が入る',
                            "허무맹랑：でたらなめ"
                        ]
                    },
                    {
                        question_content: '(     )에 들어갈 가장 알맞은 것을 고르십시오.',
                        question: '사건이 일어났다는 통보를 받고 () 달려왔습니다',
                        answers: [
                            '부리나케',
                            '연거푸',
                            '한사코',
                            '조만간'
                        ],
                        answer: 0,
                        question_translation: "事件が起きたという通報をうけて（）駆けつけました。",
                        answer_translations: [
                            '부리나케：あわてて',
                            '연거푸：続けざまに',
                            "한사코：命を懸けて",
                            '조만간：いずれ'
                        ]
                    },
                    {
                        question_content: '(        )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '갑자기 물어보는 바람에 () 저도 하겠다고 대답하고 말았어요.',
                        answers: [
                            '지그시',
                            '엉겁결에',
                            '실로',
                            "샅샅이"
                        ],
                        answer: 1,
                        question_translation: "いきなり尋ねられたので、（）自分もすると答えてしまった。",
                        answer_translations: [
                            '지그시：そっと',
                            '엉겁결에：思わず',
                            '실로：実に',
                            "샅샅이：くまなく"
                        ]
                    },
                    {
                        question_content: '(        )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '학생은 () 학업에만 전념해야 한다.',
                        answers: [
                            '무려',
                            '짐짓',
                            '가까스로',
                            "모름지기"
                        ],
                        answer: 3,
                        question_translation: "学生は（）学業にだけ専念しなければならない。",
                        answer_translations: [
                            '무려：なんと',
                            '짐짓：わざと',
                            '가까스로：かろうじて',
                            "모름지기：すべからく"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '시합을 이기긴 했는데 개운하게 이기질 못해서 뭔가 짐짐해요.',
                        answers: [
                            '시합을 이겨서 기쁘기 짝이 없다.',
                            '시합을 이겼지만 개운하게 못 이기져서 혼났다.',
                            '시합을 이겼지만 후련하지 않다.',
                            "시합을 이겼지만 상처를 받아 버려서 개운하지 않다."
                        ],
                        answer: 2,
                        question_translation: "試合に勝ったのは勝ったが、快勝ではなくて、なぜかすっきりしない。",
                        answer_translations: [
                            "시합을 이겨서 기쁘기 짝이 없다.：試合に勝って、この上なくうれしい。",
                            "시합을 이겼지만 개운하게 못 이기져서 혼났다.：試合に勝ったが、快勝ではなく、怒られた。",
                            '시합을 이겼지만 후련하지 않다.：試合に勝ったが、すっきりしない。',
                            "시합을 이겼지만 상처를 받아 버려서 개운하지 않다.：試合に勝ったが、けがをしてしまって、すっきりしない。"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '이 옷은 색깔이 화려하지 않고 수수한 편이네요.',
                        answers: [
                            '이 옷은 색깔이 약간 연한 편이다.',
                            '이 옷은 색깔이 약간 진한 편이다.',
                            '이 옷은 색깔이 저에 어울리지 않은 느낌이 들어요.',
                            "이 옷은 색깔이 소박한 편이다."
                        ],
                        answer: 3,
                        question_translation: "この服は色が派手ではなく、地味な方ですね。",
                        answer_translations: [
                            '이 옷은 색깔이 약간 연한 편이다.：この服は色が薄い方だ。',
                            '이 옷은 색깔이 약간 진한 편이다.：この服は色が濃い方だ。',
                            "이 옷은 색깔이 저에 어울리지 않은 느낌이 들어요.：この服は色が自分に合わないような気がする",
                            "이 옷은 색깔이 소박한 편이다.：この服は色が素朴な方だ。"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '학기 초라서 학교 분위기가 어수선하네요.',
                        answers: [
                            '새로운 학기가 시작됐을 때는 다 성실하다.',
                            '새로운 학기가 시작돼서 마음이 안 잡히다.',
                            '한 학기가 끝나니 마음이 개운하다.',
                            "한 학기가 끝나니 왠지 두근거리다."
                        ],
                        answer: 1,
                        question_translation: "学期はじめなので、学校の雰囲気が落ち着かない。",
                        answer_translations: [
                            '새로운 학기가 시작됐을 때는 다 성실하다.：新しい学期が始まったときはみんなまじめだ。',
                            "새로운 학기가 시작돼서 마음이 안 잡히다.：新しい学期が始まって心が落ち着かない。",
                            "한 학기가 끝나니 마음이 개운하다.：学期が終わると、心がすっきりする。",
                            "한 학기가 끝나니 왠지 두근거리다.：学期が終わるとなぜかドキドキする。"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '아주 흉하다는 점쟁이가 있다는데 같이 안 갈래?',
                        answers: [
                            '얼마전에 길거리에서 수상해 보이는 점쟁이를 찾았다.',
                            '저는 얼마전에 점을 봐서 정말 맞아서 놀랐다.',
                            '저는 친구랑 잘 맞는 점쟁이가 있는 곳에 같이 가고 싶다.',
                            "저는 얼마전에 점을 봤는데 안 맞았다."
                        ],
                        answer: 2,
                        question_translation: "とてもよく当たるという占い師がいるらしいんだけど、一緒に行かない？",
                        answer_translations: [
                            '얼마전에 길거리에서 수상해 보이는 점쟁이를 찾았다.：ちょっと前に道で変な占い師を見つけた。',
                            '저는 얼마전에 점을 봐서 정말 맞아서 놀랐다.：私はちょっと前に占いをして、本当に当たってびっくりした。',
                            '저는 친구랑 잘 맞는 점쟁이가 있는 곳에 같이 가고 싶다.：私は友だちとよく当たる占い師のところへ一緒に行きたい。',
                            "저는 얼마전에 점을 봤는데 안 맞았다.：私はちょっと前に占いをしたが、当たらなかった。"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '그는 요새 연락이뜸해서 무슨 일인가 있었는지 궁금하다.',
                        answers: [
                            '그는 전부터 빈번히 연락을 주는 편이다.',
                            '그가 최근 연락을 안 주므로 걱정이다.',
                            '그는 큰일이 일어날 때마다 연락을 줘서 정신적으로 피곤하다.',
                            "그가 울면서 연락을 해서 무슨 일인지 궁금하다."
                        ],
                        answer: 1,
                        question_translation: "彼は最近連絡がまばらで、何かあったのか気になる。",
                        answer_translations: [
                            '그는 전부터 빈번히 연락을 주는 편이다.：彼は、前から頻繁に連絡をする方だ。',
                            "그가 최근 연락을 안 주므로 걱정이다.：彼は最近連絡をしないので、心配だ。",
                            "그는 큰일이 일어날 때마다 연락을 줘서 정신적으로 피곤하다.：彼は大きなことがあるたびに連絡をしてくるので、精神的に疲れた。",
                            "그가 울면서 연락을 해서 무슨 일인지 궁금하다.：彼が泣きながら連絡をして、何かあったのか気になる。"
                        ]
                    }
                ]
            },
            methods: {
                addAnswer: function(index) {

                    this.answers.push(index);

                    if(!this.completed) {

                        this.questionIndex++;

                    }

                }
            },
            computed: {
                currentQuestion: function() {

                    return this.questions[this.questionIndex];

                },
                completed: function() {

                    return (this.questions.length == this.answers.length);

                }
            }
        })

    </script>
</body>

</html>
