<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Koreanguage</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../../../owlcarousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/animated.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
    <header class="mb-4">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a href="../../japanese_toppage.html"><img class="u-max-full-width navbar-brand" src="../../../images/Koreanguage_title.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon toggle_icon"></span>
            </button>
      
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class = "nav-item"><a href="../../about.html" class = "nav-link">概要</a></li>
                    <li class = "nav-item"><a href="../../question.html" class = "nav-link">問題</a></li>
                    <li class = "nav-item"><a href="../../examination.html" class = "nav-link">試験について</a></li>
                    <li class = "nav-item"><a href="../../materials.html" class = "nav-link">参考資料</a></li>
                    <li class = "nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            言語選択
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../../../english/questions/beginner_questions/beginner_3.html">英語</a>
                            <a class="dropdown-item" href="../../../korean/questions/beginner_questions/beginner_3.html">韓国語</a>
                            <a class="dropdown-item" href="beginner_3.html">日本語</a>
                          </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="main-contents_question_page">
            <div id="app" class="row">
                <div class = "col-md-12 main_question" v-if="!completed">
                    <div class="card">
                        <div class="card-body">
                            <p class="badge badge-dark">問題 {{ (questionIndex+1) }} </p>
                            <br>
                            <h4 class = "card-title">{{ currentQuestion.question_content }}</h4>
                            <br>
                            <h4 class="card-title">{{ currentQuestion.question }}</h4>
                            <br>
                            <button
                                type="button"
                                class="btn btn-block"
                                v-for="(answer,index) in currentQuestion.answers"
                                @click="addAnswer(index)">{{ (index+1) }}. {{ answer }}</button>
                        </div>
                    </div>
                </div>
        
                <div class = "col-md-12 main_result" v-if="completed">
                    <div class="card">
                        <div class="card-body">
                            <p class="badge badge-dark result_tag">結果</p>
                            <div v-for="(question,index) in this.questions">
                                <h4 class="card-title error_color">{{ question.question }}</h4>
                                <span>{{ question.question_translation }}</span>
                                <ul>
                                    <li v-for="answer_translation in question.answer_translations">{{ answer_translation }}</li>
                                </ul>
                                <div v-if="question.answer == answers[index]" id="correct"><span>正解です。</span><br><span>正解は {{ question.answers[question.answer] }}です。</span></div>
                                <div v-else id="incorrect"><span>不正解です。</span><br><span>正解は {{ question.answers[question.answer] }}です。</span></div>
                                <br>
                                <br>
                                
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="mb-4">
        <div class = "container">
            <div class = "row">
                <div class = "footer_contents col-md-12">
                    <div class="page-top" id="top-btn">
                        <p>Page top</p>
                    </div>
                    <div class="footer_nav">
                    <ul>
                        <li class = "nav-item"><a href="../../about.html" class = "nav-link">概要</a></li>
                        <li class = "nav-item"><a href="../../question.html" class = "nav-link">問題</a></li>
                        <li class = "nav-item"><a href="../../examination.html" class = "nav-link">試験について</a></li>
                        <li class = "nav-item"><a href="../../materials.html" class = "nav-link">参考資料</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
      </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../../../owlcarousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../../../js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script>

        new Vue({
            el: '#app',
            data: {
                answers: [],
                questionIndex: 0,
                questions: [
                    {
                        question_content: '무엇에 대한 이야기입니까? 알맞은 것을 고르십시오.',
                        question: '자주 같이 놀아요. 같이 있으면 정말 재미있어요.',
                        answers: [
                            '학교',
                            '친구',
                            '회사원',
                            '의사'
                        ],
                        answer: 1,
                        question_translation: "よく一緒にいます。一緒にいると本当に面白いです。",
                        answer_translations: [
                            '학교：学校',
                            '친구：友だち',
                            '회사원：会社員',
                            '의사：医者'
                        ]
                    },
                    {
                        question_content: '무엇에 대한 이야기입니까? 알맞은 것을 고르십시오.',
                        question: '내일 여덟 시에 역에서 만납시다.',
                        answers: [
                            '약국',
                            '근처',
                            '약속',
                            "돈"
                        ],
                        answer: 2,
                        question_translation: "明日８時に駅で会いましょう。",
                        answer_translations: [
                            '약국：薬局',
                            '근처：近所',
                            '약속：約束',
                            "돈：お金"
                        ]
                    },
                    {
                        question_content: '(     )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '새로운 (     ) 를 백화점에서 샀는데 어때요?',
                        answers: [
                            '가게',
                            '회사',
                            '치마',
                            '시험'
                        ],
                        answer: 2,
                        question_translation: "新しい（     ）をデパートで買ったんですが、どうですか？",
                        answer_translations: [
                            '가게：店',
                            '회사：会社',
                            '치마：スカート',
                            '시험：試験'
                        ]
                    },
                    {
                        question_content: '(        )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '아침 여섯 시에 (     ) 신문을 읽어요.',
                        answers: [
                            '입어서',
                            '가르쳐서',
                            '일어나서',
                            "쳐서"
                        ],
                        answer: 1,
                        question_translation: "朝６時に（       ）、新聞を読みます。",
                        answer_translations: [
                            '입어서：着て',
                            '가르쳐서：教えて',
                            '일어나서：起きて',
                            "쳐서：打って"
                        ]
                    },
                    {
                        question_content: '(        )에 들어갈 가장 알맞은 것을 고르십시오. ',
                        question: '(        ) 오늘은 수업을 쉬어도 돼요?',
                        answers: [
                            '감기에 걸려서',
                            '구두를 신어서',
                            '기타를 쳐서',
                            "기분이 좋아서"
                        ],
                        answer: 0,
                        question_translation: "（       ）、今日は授業を休んでもいいですか？",
                        answer_translations: [
                            '감기에 걸려서：風邪にかかって',
                            '구두를 신어서：靴を履いて',
                            '기타를 쳐서：ギターを弾いて',
                            "기분이 좋아서：気分がよくて"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '아버지는 집에서 자주 책을 읽어요. 저는 아버지하고 별로 놀지 않아요.',
                        answers: [
                            '아버지는 항상 조용하다.',
                            '아버지의 취미는 독서다.',
                            '저는 아버지는 별로 좋아하지 않다.',
                            "저는 독서를 정말 좋아하다."
                        ],
                        answer: 1,
                        question_translation: "お父さんは家でよく本を読みます。私はお父さんとあまり遊びません。",
                        answer_translations: [
                            '아버지는 항상 조용하다.：お父さんはいつも静かだ。',
                            "아버지의 취미는 독서다.：お父さんの趣味は読書だ。",
                            "저는 아버지는 별로 좋아하지 않다.：私はお父さんがあまり好きじゃない。",
                            "저는 독서를 정말 좋아하다.：私は読書が本当に好きだ。"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '이 가게 요리는 저 가게보다 싸고 맛있대요.',
                        answers: [
                            '저 가게는 인기가 없다.',
                            '저는 저 가게를 그렇게 좋아하지 않다.',
                            '저는 이 가게 요리를 몇 번도 먹은 적이 있다.',
                            "저 가게는 이 가게보다 값이 비싸다."
                        ],
                        answer: 3,
                        question_translation: "この店の料理は、あの店よりも安くて、美味しいそうですよ。",
                        answer_translations: [
                            '저 가게는 인기가 없다.：あの店は、人気がない。',
                            "저는 저 가게를 그렇게 좋아하지 않다.：私はあの店がそんなに好きじゃない。",
                            "저는 이 가게 요리를 몇 번도 먹은 적이 있다.：私は、この店の料理を何回も食べたことがある。",
                            "저 가게는 이 가게보다 값이 비싸다.：あの店は、この店よりも値段が高い。"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '민주 씨는 주말에 영어를 가르쳐요.',
                        answers: [
                            '민주 씨는 수요일에 영어를 가르치다.',
                            '민주 씨는 영어를 쓰면서 미국에서 살다.',
                            '민주 씨는 주말에 해야 하는게 많이 있어서 바쁘다.',
                            "민주 씨는 영어 교사로서 일하고 있다."
                        ],
                        answer: 3,
                        question_translation: "ミンジュさんは、週末に英語を教えます。",
                        answer_translations: [
                            '민주 씨는 수요일에 영어를 가르치다.：ミンジュさんは、水曜日に英語を教えている。',
                            '민주 씨는 영어를 쓰면서 미국에서 살다.：ミンジュさんは、英語を使いながらアメリカに住んでいる。',
                            '민주 씨는 주말에 해야 하는게 많이 있어서 바쁘다.：ミンジュさんは、週末にしなければならないことがたくさんあって、忙しい。',
                            "민주 씨는 영어 교사로서 일하고 있다.：ミンジュさんは、英語教師として、働いている。"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '오랜만에 친구한테 편지를 써봤어요.',
                        answers: [
                            '오랜만에 편지를 봤어요.',
                            '최근 친구한테 편지를 보내지 않았어요.',
                            '최근 친구하고 전화를 했어요.',
                            "오랜만에 만난 친구한테 편지를 보였어요."
                        ],
                        answer: 1,
                        question_translation: "久しぶりに友だちに手紙を書いてみました。",
                        answer_translations: [
                            "오랜만에 편지를 봤어요.：久しぶりに手紙を見ました。",
                            "최근 친구한테 편지를 보내지 않았어요.：さいきん友達に手紙を送っていませんでした。",
                            "최근 친구하고 전화를 했어요.：さいきん友達と電話をしました。",
                            "오랜만에 만난 친구한테 편지를 보였어요.：久しぶりに会った友達に手紙を見せました。"
                        ]
                    },
                    {
                        question_content: '다음의 내용과 알맞은 것을 고르십시오.',
                        question: '유학 생활은 바쁘고 해야 되는 일도 있지만 재미있다`',
                        answers: [
                            '저는 현재 해외 학교에 다니고 있어요.',
                            '저는 맨날 바쁘고 아무것도 재미있지 않아요.',
                            '저는 호주에서 재미있는 생활을 보내고 있어요.',
                            "저는 최근 한가해요."
                        ],
                        answer: 0,
                        question_translation: "留学生活は忙しくて、しないといけないこともありますが、楽しいです。",
                        answer_translations: [
                            '저는 현재 해외 학교에 다니고 있어요.：私は現在、海外の学校に通っています。',
                            "저는 맨날 바쁘고 아무것도 재미있지 않아요.：私は毎日忙しくて、何も楽しくないです。",
                            "저는 호주에서 재미있는 생활을 보내고 있어요.：私はオーストラリアで楽しい生活を送っています。",
                            "저는 최근 한가해요.：私は最近暇です。"
                        ]
                    }
                ]
            },
            methods: {
                addAnswer: function(index) {

                    this.answers.push(index);

                    if(!this.completed) {

                        this.questionIndex++;

                    }

                }
            },
            computed: {
                currentQuestion: function() {

                    return this.questions[this.questionIndex];

                },
                completed: function() {

                    return (this.questions.length == this.answers.length);

                }
            }
        })

    </script>
</body>

</html>
